## 오픈소스 무료지도 API : folium
 * python-visualization.github.io/folium
 * pip install folium

In [1]:
import folium

In [2]:
# 간단한 지도표시
lat = 37.566
lng = 126.9784

In [6]:
fmap = folium.Map([lat, lng])
fmap.save('maps/fmap1.html')

In [8]:
# 마커표시
tooltip = 'orver here!!'

fmap = folium.Map([lat, lng], zoom_start=17)

folium.Marker([lat, lng], popup=tooltip, tooltip=tooltip).add_to(fmap)

fmap.save('maps/fmap1b.html')

In [9]:
# 마커표시

fmap = folium.Map([lat, lng], zoom_start=17)

folium.Marker([lat, lng], popup='<b>over here!!</b>', 
              tooltip=tooltip, icon=folium.Icon(color='red',icon='phone')).add_to(fmap)

fmap.save('maps/fmap1c.html')

## geojson을 이용한 지도 시각화
 * github.com/southkorea  => southkorea-map => kostat =>   
   2018 => json => skorea-provinces-2018-geo.json,   
   2013 => json => skorea_provinces_2013_geo_simple.json

In [10]:
import json

In [12]:
with open('data/skorea-provinces-2018-geo.json') as f: kor2018geo = json.load(f)

In [13]:
kor2018geo['features'][0]['properties']['name']

'서울특별시'

In [14]:
fmap = folium.Map([lat, lng], zoom_start=7)

folium.GeoJson(kor2018geo).add_to(fmap)

fmap.save('maps/fmap2.html')

## 서울시 경계지역 시각화

In [16]:
with open('data/seoul_geo_simple.json') as f: seoul_geo = json.load(f)

In [ ]:
seoul_geo['features'][0]['properties']['name']


fmap = folium.Map([lat, lng], zoom_start=7)

folium.GeoJson(kor2018geo).add_to(fmap)

fmap.save('maps/fmap2.html')

In [34]:
#seoul_geo

## 서울시 구별 인구수 단계구분도 시각화

In [18]:
import pandas as pd

In [23]:
pop = pd.read_csv('data/seoul_pop_2019.csv', header=None, encoding='euc-kr')

In [25]:
pop.columns = ['gu', 'pop']
pop['pop'] = pop['pop']
pop['pop'] = pop['pop'].str.replace(',','')
pop['pop'] = pop['pop'].apply(lambda x: int(x))
pop.head()

    gu     pop
0  종로구  152026
1   중구  126143
2  용산구  229122
3  성동구  304936
4  광진구  353878

In [30]:
fmap = folium.Map([lat, lng], zoom_start=11)

folium.Choropleth(geo_data=seoul_geo, data=pop, columns=['gu','pop'],
               key_on='feature.properties.name',
               fill_color='YlGn', fill_opacity=0.7).add_to(fmap)

fmap.save('maps/fmap3.html')

## 미국 실업율 현황 단계구분도 시각화

In [41]:
unemp = pd.read_csv('data/us_Unemployment_Oct2012.csv', encoding='euc-kr')
unemp.head()

  State  Unemployment
0    AL           7.1
1    AK           6.8
2    AZ           8.1
3    AR           7.2
4    CA          10.1

In [54]:
with open('data/usa_states_geo_simple.json') as f : us_geo = json.load(f)

In [55]:
usa = (48, -102)
fmap = folium.Map(usa, zoom_start=4)

In [56]:
folium.Choropleth(geo_data=us_geo, data=unemp, columns=['State','Unemployment'],
               key_on='id',
               fill_color='BuPu', fill_opacity=0.7).add_to(fmap)

fmap.save('maps/fmap4.html')