## 변동성 이해하기
+ 값들이 얼마나 서로 다른지 여부 파악

In [5]:
num1 <- c(7,6,3,3,1)
num2 <- c(3,4,4,5,4)
num3 <- c(4,4,4,4,4)

# 형식화된 문자열 형태로 출력 : sprintf
# sprintf(형식문자열, 변수들)
sprintf('%d %d %d', mean(num1), mean(num2), mean(num3))

[1] "4 4 4"

## 기술통계의 또다른 관점 : 분산, 산포
+ 자료의 흩어지거나 밀집되는 정도를 나타내는 척도
+ 범위, 사분위수, 분산, 표준편차등으로 표현

## 범위
+ 수집한 자료의 가장 큰 값과 작은 값의 차이
+ 수집한 자료가 어느정도 흩어져 있는지 살펴볼 수 있는 통계치
+ 계산하기 쉽다
+ 특이값에 영향을 많이 받는다
+ 범위가 동일해도 분산정도는 크게 다를 수 있다
> #### $ r = h - l $  
> #### $ R = x_{(n)} - x_{(1)} $

In [9]:
# 조선조 왕들의 수명의 범위를 조사

# 73, 62, 45, 53, 38, 16, 51, 28, 37, 30, 56
# 30, 33, 56, 66, 54, 40, 33, 59, 36, 82, 48
# 44, 22, 32, 67, 52


kings <- c(73, 62, 45, 53, 38, 16, 51, 28, 37, 30, 56, 30, 33, 56, 66, 54, 40, 33, 59, 36, 82, 48, 44, 22, 32, 67, 52)

range(kings)
range(kings)[2] - range(kings)[1]

[1] 16 82

[1] 66

[1] 45

In [11]:
# 수식으로 작성

max = max(kings)
min = min(kings)
max - min

[1] 66

In [110]:
# 조선조 왕들 수명의 표준편차 조사
# 표준편차 
sqrt(var(kings))

sd(kings)

[1] 16.1733

[1] 16.1733

In [13]:
# 대학원생들의 나이 범위를 조사

colls <- c(19, 18, 19, 21, 20, 24, 21, 19, 19, 20, 18, 21, 22, 23, 21, 19, 18, 22, 24, 21, 18, 19)

range(colls)
range(colls)[2] - range(colls)[1]

[1] 18 24

[1] 6

In [82]:
# 수식으로 작성

max = max(colls)
min = min(colls)
max - min

[1] 6

In [111]:
# 대학원생들의 나이 표준편차 조사
# 표준편차 
sqrt(var(colls))

sd(colls)

[1] 1.881788

[1] 1.881788

## 분산
+ 평균을 중심으로 밀집되거나 퍼짐 정도를 나타내는 척도
+ 모분산 $ \sigma^2 $ : 모집단을 구성하는 모든 자료값과 모평균의 편차제곱에 대한 평균
+ 표본분산 $ s^2 $ : 표본을 구성하는 모든 자료값과 표본평균의 편차의 제곱합을 n-1로 나눈 수치
+ 편차
> $ (x_{i} - \bar {x}) $
+ 편차제곱
> $ (x_{i} - \bar {x})^2 $
+ 모분산
> ## $ {(x_{i} - \bar {x})^2} \over {n} $
+ 표본분산
> ## $ \sum{(x_{i} - \bar {x})^2} \over {n-1} $

In [15]:
# 직접 모분산 구하기
nums <- c(5,8,5,4,6,7,8,8,3,6)

In [17]:
m <- mean(nums)
m       # 평균

[1] 6

In [20]:
devi <- (nums - m)
devi     # 편차의 합 : 0

 [1] -1  2 -1 -2  0  1  2  2 -3  0

In [21]:
devi <- (nums - m)**2
devi     # 편차제곱

 [1] 1 4 1 4 0 1 4 4 9 0

In [23]:
sum(devi)    # 편차제곱의 합 : 임의의 수

[1] 28

In [24]:
sum(devi) / length(nums)   # 모분산

[1] 2.8

In [25]:
sum(devi) / (length(nums)-1)   # 표본분산

[1] 3.111111

In [27]:
# 분산 : var
# R에서는 기본적으로 표본분산으로 계산해서 결과출력
var(nums)

[1] 3.111111

In [66]:
# A부서와 B부서 사원들의 비상금 편차 파악

a <- c(30,26,40,28,26)
b <- c(35,20,60,15,20)

In [67]:
ma <- mean(a)
ma       # 평균
mb <- mean(b)
mb       # 평균

[1] 30

[1] 30

In [68]:
devi1 <- (a - ma)
devi1     # 편차의 합 : 0
devi2 <- (b - mb)
devi2   # 편차의 합 : 0

[1]  0 -4 10 -2 -4

[1]   5 -10  30 -15 -10

In [69]:
devi1 <- (a - ma)**2
devi1     # 편차의 합 : 0
devi2 <- (b - mb)**2
devi2   # 편차의 합 : 0

[1]   0  16 100   4  16

[1]  25 100 900 225 100

In [70]:
sum(devi1)    # 편차제곱의 합 : 임의의 수
sum(devi2)    # 편차제곱의 합 : 임의의 수

[1] 136

[1] 1350

In [71]:
sum(devi1) / length(a)   # 모분산
sum(devi2) / length(b)   # 모분산

[1] 27.2

[1] 270

In [72]:
sum(devi1) / (length(a)-1)   # 표본분산
sum(devi2) / (length(b)-1)   # 표본분산

[1] 34

[1] 337.5

In [73]:
mean1 <- mean(a)
devi1 <- (a- mean1)**2
sum(devi1) / (length(a)-1)

[1] 34

In [74]:
mean2 <- mean(b)
devi2 <- (b- mean2)**2
sum(devi2) / (length(b)-1)

[1] 337.5

In [75]:
# 조선조 왕들 수명의 분산을 조사
var(kings)

[1] 261.5755

In [77]:
# 대학원생들 나이의 분산을 조사
var(colls)

[1] 3.541126

## 표준편차
+ 분산값에 제곱근을 취한 값
+ 분산은 편차를 제곱했기 때문에 결과값의 단위 역시 제곱이 됨
+ 분산의 단위를 원래 자료의 단위로 전환하기 위해 만든 값
+ 모표준편차 $ \sigma $
> ### $ \sqrt {\sum{(x_{i} - \bar {x})^2} \over {n}}$
+ 표본 표준편차 $ s $
> ### $ \sqrt {\sum{(x_{i} - \bar {x})^2} \over {n-1}}$

In [101]:
# A부서와 B부서 사원들의 비상금 편차 파악
# 표준편차 : sd

sqrt(var(a))
sqrt(var(b))


sprintf('%.1f %.1f',sd(a), sd(b))

[1] 5.830952

[1] 18.37117

[1] "5.8 18.4"

In [91]:
# 어떤 카푸치노 판매점들의 5일동안 오후 4~5시 사이의 판매량 데이터를 보고
# 어느지점이 판매를 잘하였는지 파악하시오

cafea <- c(20,40,50,60,80)
cafeb <- c(20,45,50,55,80)

In [97]:
sd(cafea)
sd(cafeb)

[1] 22.36068

[1] 21.50581

In [108]:
# 중심화 경향
sprintf('%.1f %.1f',mean(cafea), mean(cafeb))

[1] "50.0 50.0"

In [106]:
range(cafea)
range(cafeb)

[1] 20 80

[1] 20 80

In [109]:
sprintf('%.1f %.1f',var(cafea), var(cafeb))
sprintf('%.1f %.1f',sd(cafea), sd(cafeb))

[1] "500.0 462.5"

[1] "22.4 21.5"

In [112]:
# 회계수습 사원들의 월급이 3536, 3173, 3448, 3121, 3622 라고 한다.
# 사무수습사원들의 월급 평균은 3550, 표준편차는 250이라 할때
# 이 둘 수습사원 그룹을 비교하시오

In [122]:
hh <- c(3536, 3173, 3448, 3121, 3622)
ss <- c(3550)
mean(hh)
mean(ss)

[1] 3380

[1] 3550

In [123]:
sd(hh)
sd(ss)

[1] 222.179

[1] NA

In [126]:
sprintf('%.1f %.1f',mean(ss), mean(hh))
sprintf('%.1f %.1f',var(ss), var(hh))
sprintf('%.1f %.1f',sd(ss), sd(hh))

[1] "3550.0 3380.0"

[1] "NA 49363.5"

[1] "NA 222.2"

In [128]:
# 답안

acc <- c(3536, 3173, 3448, 3121, 3622)
mean(acc)
sd(acc)

[1] 3380

[1] 222.179

# 사분위수
+ 데이터를 가장 작은수부터 가장 큰수까지 정렬하였을때 1/4, 2/4, 3/4 위치에 있는 수를 의미
+ 이 각각의 수를 1사분위수, **2사분위수**, 3사분위수라고 하는데,
+ 2사분위수는 **중앙값**과 같음
    * $ Q_1 $ :25%
    * $ Q_2 $ :50%
    * $ Q_3 $ :75%
+ 때로 위치를 1/100단위로 나눈 경우도 있는데, 이때 백분위수를 사용함
+ 한편, 사분위수를 구하는 방법은 크게 **9가지**가 존재하는데 대상 데이터의 **유형**에 따라 적용방법이 다름
+ **사분위 범위(IQR)** 사이의 구간에 항상 전체 데이터의 **50%** 가 포함됨
    * 사분위 범위는 3사분위수에서 1사분위수 간의 범위를 의미
+ numpy의 percentile함수의 interpolation 속성으로 계산방법을 지정할 수 있음 (nearst, lower, higher, linear, midpoint)

In [129]:
# 조선조 왕들 수명의 사분위수
# 사분위수 : quantile(객체, 사분위)

quantile(kings)

  0%  25%  50%  75% 100%
  16   33   45   56   82

In [132]:
# 하위 25%를 나누는 기준 계산
quantile(kings, 0.25)

25%
 33

In [133]:
# 상위 25%를 나누는 기준 계산
quantile(kings, 0.75)

75%
 56

In [137]:
# 사분위 범위(IQR) 계산 : Q3 - Q1
quantile(kings, 0.75) - quantile(kings, 0.25)
IQR(kings)

75%
 23

[1] 23

# 사원 데이터의 기술통계2 (분산화 경향)

In [143]:
emp <- read.csv('employees.csv', stringsAsFactor=F)
head(emp)

  EMPLOYEE_ID FIRST_NAME LAST_NAME EMAIL    PHONE_NUMBER HIRE_DATE  JOB_ID
1 100         Steven     King      SKING    515.123.4567 2003-06-17 AD_PRES
2 101         Neena      Kochhar   NKOCHHAR 515.123.4568 2005-09-21 AD_VP
3 102         Lex        De Haan   LDEHAAN  515.123.4569 2001-01-13 AD_VP
4 103         Alexander  Hunold    AHUNOLD  590.423.4567 2006-01-03 IT_PROG
5 104         Bruce      Ernst     BERNST   590.423.4568 2007-05-21 IT_PROG
6 105         David      Austin    DAUSTIN  590.423.4569 2005-06-25 IT_PROG
  SALARY COMMISSION_PCT MANAGER_ID DEPARTMENT_ID
1 24000  NA              NA        90
2 17000  NA             100        90
3 17000  NA             100        90
4  9000  NA             102        60
5  6000  NA             103        60
6  4800  NA             103        60

In [162]:
str(emp)

'data.frame':	107 obs. of  11 variables:
 $ EMPLOYEE_ID   : int  100 101 102 103 104 105 106 107 108 109 ...
 $ FIRST_NAME    : chr  "Steven" "Neena" "Lex" "Alexander" ...
 $ LAST_NAME     : chr  "King" "Kochhar" "De Haan" "Hunold" ...
 $ EMAIL         : chr  "SKING" "NKOCHHAR" "LDEHAAN" "AHUNOLD" ...
 $ PHONE_NUMBER  : chr  "515.123.4567" "515.123.4568" "515.123.4569" "590.423.4567" ...
 $ HIRE_DATE     : chr  "2003-06-17" "2005-09-21" "2001-01-13" "2006-01-03" ...
 $ JOB_ID        : chr  "AD_PRES" "AD_VP" "AD_VP" "IT_PROG" ...
 $ SALARY        : int  24000 17000 17000 9000 6000 4800 4800 4200 12008 9000 ...
 $ COMMISSION_PCT: num  NA NA NA NA NA NA NA NA NA NA ...
 $ MANAGER_ID    : int  NA 100 100 102 103 103 103 103 101 108 ...
 $ DEPARTMENT_ID : int  90 90 90 60 60 60 60 60 100 100 ...

In [173]:
m4 <-mean(emp$SALARY)   # 평균
median(emp$SALARY) # 중앙값
Modes(emp$SALARY)  # 최빈값

max = max(emp$SALARY)
min = min(emp$SALARY)
max-min            # 최대값 - 최소값
range(emp$SALARY)[2] - range(emp$SALARY)[1]  # 최대값 - 최소값

[1] 6200

[1] 2500

[1] 21900

In [184]:
range(emp$SALARY)  # 범위
length(emp$SALARY) # 데이터 갯수
sort(emp$SALARY)   # 정렬
unique(emp$SALARY) # 중복제외

[1]  2100 24000

[1] 107

  [1]  2100  2200  2200  2400  2400  2500  2500  2500  2500  2500  2500  2600
 [13]  2600  2600  2600  2700  2700  2800  2800  2800  2800  2900  2900  2900
 [25]  3000  3000  3100  3100  3100  3100  3200  3200  3200  3200  3300  3300
 [37]  3400  3500  3600  3600  3800  3900  4000  4100  4200  4200  4400  4800
 [49]  4800  5800  6000  6000  6100  6200  6200  6400  6500  6500  6800  6900
 [61]  7000  7000  7000  7200  7300  7400  7500  7500  7700  7800  7900  8000
 [73]  8000  8000  8200  8200  8300  8400  8600  8800  9000  9000  9000  9000
 [85]  9500  9500  9500  9600 10000 10000 10000 10000 10500 10500 11000 11000
 [97] 11000 11500 12000 12008 12008 13000 13500 14000 17000 17000 24000

 [1] 24000 17000  9000  6000  4800  4200 12008  8200  7700  7800  6900 11000
[13]  3100  2900  2800  2600  2500  8000  7900  6500  5800  3200  2700  2400
[25]  2200  3300  2100  3600  3500 14000 13500 12000 10500 10000  9500  7500
[37]  7000  7200  6800  6400  6200 11500  9600  7400  7300  6100  8800  8600
[49]  8400  4100  3400  3000  3800  4000  3900  4400 13000  8300

In [181]:
sd(emp$SALARY)      # 표준편차
sqrt(var(emp$SALARY)) #표준편차


emp_sd <- (emp$SALARY - m4)
head(emp_sd)  # 편차

emp_sd2 <- (emp$SALARY - m4)**2
head(emp_sd2)  # 편차제곱


sum(emp_sd2)   # 편차의 합

[1] 3909.58

[1] 3909.58

[1] 17538.1682 10538.1682 10538.1682  2538.1682  -461.8318 -1661.8318

[1] 307587344.7 111052989.5 111052989.5   6442297.9    213288.6   2761684.9

[1] 1620190249

In [183]:
sum(emp_sd2) / length(emp$SALARY)   # 모분산

sum(emp_sd2) / (length(emp$SALARY)-1)   # 표본분산

[1] 15141965

[1] 15284814

In [185]:
quantile(emp$SALARY)

   0%   25%   50%   75%  100%
 2100  3100  6200  8900 24000

In [186]:
sprintf('%.1f', mean(emp$SALARY))   # 평균
sprintf('%.1f', sd(emp$SALARY))     # 분산
sprintf('%.1f', var(emp$SALARY))    # 표준편차

[1] "6461.8"

[1] "3909.6"

[1] "15284813.7"

# 교통사고 현황 데이터 기술통계2 (중심화 경향)

In [190]:
# 명목형 자료들 많기 때문에 (stringsAsFactors=F)를 사용X
car = read.csv('accident2016.csv')

In [191]:
str(car)

'data.frame':	4119 obs. of  27 variables:
 $ 발생년               : int  2016 2016 2016 2016 2016 2016 2016 2016 2016 2016 ...
 $ 발생년월일시         : int  2016122320 2016122517 2016122519 2016122610 2016122819 2016111207 2016110919 2016111005 2016110711 2016110818 ...
 $ 발생분               : int  35 48 5 40 40 34 25 0 5 0 ...
 $ 주야                 : Factor w/ 2 levels "야간","주간": 1 2 1 2 1 2 1 1 2 1 ...
 $ 요일                 : Factor w/ 7 levels "금","목","수",..: 1 5 5 4 3 6 3 2 4 7 ...
 $ 사망자수             : int  1 1 1 1 1 1 1 1 1 1 ...
 $ 사상자수             : int  1 1 1 1 1 1 1 1 1 1 ...
 $ 중상자수             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ 경상자수             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ 부상신고자수         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ 발생지시도           : Factor w/ 17 levels "강원","경기",..: 2 9 17 4 3 3 2 12 16 13 ...
 $ 발생지시군구         : Factor w/ 205 levels "가평군","강남구",..: 26 38 172 12 171 9 190 86 132 103 ...
 $ 사고유형_대분류      : Factor w/ 3 levels "차대사람","차대차",..: 1 1 1 1 1 1 1 1 3 1 ...
 $ 사고유형_중분류      : Factor w/ 12 levels "공작물충돌","기타",..: 2 12 9 12 12 12 2 12 6 9 ...
 $ 사고유형             : Factor w/ 13 levels "공작물충돌","기타",..: 2 13 11 13 13 13 2 13 7 11 ...
 $ 법규위반_대분류      : Factor w/ 1 level "운전자법규위반": 1 1 1 1 1 1 1 1 1 1 ...
 $ 법규위반             : Factor w/ 14 levels "과속","교차로 통행방법 위반",..: 9 9 9 9 4 9 9 4 9 9 ...
 $ 도로형태_대분류      : Factor w/ 5 levels "고가도로위","교차로",..: 2 4 4 4 4 4 4 4 4 4 ...
 $ 도로형태             : Factor w/ 10 levels "고가도로위","교량위",..: 3 6 6 6 6 6 6 6 6 6 ...
 $ 당사자종별_1당_대분류: Factor w/ 10 levels "건설기계","농기계",..: 4 4 10 5 4 1 4 4 1 4 ...
 $ 당사자종별_1당       : Factor w/ 10 levels "건설기계","경형",..: 10 10 7 2 7 1 10 2 1 10 ...
 $ 당사자종별_2당_대분류: Factor w/ 12 levels "","건설기계",..: 4 4 4 4 4 4 4 4 1 4 ...
 $ 당사자종별_2당       : Factor w/ 12 levels "","건설기계",..: 6 6 6 6 6 6 6 6 1 6 ...
 $ 발생위치X_UTMK       : num  981731 945989 993981 1161153 1056276 ...
 $ 발생위치Y_UTMK       : num  1932086 1942347 1879534 1751026 1686645 ...
 $ 경도                 : num  127 127 127 129 128 ...
 $ 위도                 : num  37.4 37.5 36.9 35.7 35.2 ...

In [192]:
summary(car)

     발생년      발생년월일시           발생분        주야      요일
 Min.   :2016   Min.   :2.016e+09   Min.   : 0.00   야간:2072   금:666
 1st Qu.:2016   1st Qu.:2.016e+09   1st Qu.:10.00   주간:2047   목:596
 Median :2016   Median :2.016e+09   Median :27.00               수:565
 Mean   :2016   Mean   :2.016e+09   Mean   :26.94               월:584
 3rd Qu.:2016   3rd Qu.:2.016e+09   3rd Qu.:40.00               일:513
 Max.   :2016   Max.   :2.016e+09   Max.   :59.00               토:635
                                                                화:560
    사망자수         사상자수         중상자수         경상자수
 Min.   : 1.000   Min.   : 1.000   Min.   : 0.000   Min.   : 0.0000
 1st Qu.: 1.000   1st Qu.: 1.000   1st Qu.: 0.000   1st Qu.: 0.0000
 Median : 1.000   Median : 1.000   Median : 0.000   Median : 0.0000
 Mean   : 1.042   Mean   : 1.576   Mean   : 0.252   Mean   : 0.2595
 3rd Qu.: 1.000   3rd Qu.: 1.000   3rd Qu.: 0.000   3rd Qu.: 0.0000
 Max.   :10.000   Max.   :67.000   Max.   :22.000   Max.   :62.0000

  부상신고자수       발생지시도         발생지시군구  사고유형_대분류
 Min.   :0.00000   경기   : 749   서구        :  78   차대사람:1647
 1st Qu.:0.00000   경북   : 477   남구        :  76   차대차  :1646
 Median :0.00000   충남   : 372   창원시(통합):  75   차량단독: 826
 Mean   :0.02282   경남   : 359   청주시      :  74
 3rd Qu.:0.00000   서울   : 342   북구        :  69
 Max.   :5.00000   전남   : 327   동구        :  58
                   (Other):1493   (Other)     :3689
     사고유형_중분류         사고유형          법규위반_대분류
 횡단중      :1078   횡단중      :1078   운전자법규위반:4119
 기타        : 665   기타        : 665
 측면직각충돌: 619   측면직각충돌: 619
 전도전복    : 480   전도전복    : 480
 추돌        : 436   진행중 추돌 : 436
 정면충돌    : 323   정면충돌    : 323
 (Other)     : 518   (Other)     : 518
                 법규위반      도로형태_대분류       도로형태
 안전운전 의무 불이행:2856   고가도로위:  14   기타단일로:2427
 신호위반            : 333   교차로    :1285   교차로내  : 817
 중앙선 침범         : 314   기타/불명 : 103   교차로부근: 468
 과속                : 178   단일로    :2704   횡단보도상: 170
 보행자 보호의무 위반: 174   지하도로내:  13   기타/불명 : 103
 교차로 통행방법 위반:  68                     교량위    :  49
 (Other)             : 196                     (Other)   :  85
      당사자종별_1당_대분류          당사자종별_1당 당사자종별_2당_대분류
 승용차          :2023      소형            :1265   보행자 :1642
 화물차          : 914      중형            :1206          : 825
 이륜차          : 415      경형            : 660   승용차 : 548
 승합차          : 261      대형            : 478   화물차 : 408
 원동기장치자전거: 184      원동기장치자전거: 184   이륜차 : 210
 자전거          : 113      자전거          : 113   자전거 : 148
 (Other)         : 209      (Other)         : 213   (Other): 338
 당사자종별_2당 발생위치X_UTMK    발생위치Y_UTMK         경도
 보행자 :1642   Min.   :      0   Min.   :      0   Min.   :118.0
        : 825   1st Qu.: 946505   1st Qu.:1725992   1st Qu.:126.9
 소형   : 465   Median : 977012   Median :1823659   Median :127.2
 중형   : 385   Mean   :1007249   Mean   :1818670   Mean   :127.6
 대형   : 239   3rd Qu.:1080134   3rd Qu.:1930029   3rd Qu.:128.4
 경형   : 195   Max.   :1296967   Max.   :2053766   Max.   :130.9
 (Other): 368
      위도
 Min.   :19.69
 1st Qu.:35.52
 Median :36.41
 Mean   :36.36
 3rd Qu.:37.37
 Max.   :38.48

In [200]:
# 주야별 교통사고 건수
table(car$주야)

야간 주간
2072 2047

In [205]:
# 요일별 교통사고 건수
table(car$요일)

 금  목  수  월  일  토  화
666 596 565 584 513 635 560

In [209]:
# 발생지시도 교통사고 건수
sort(table(car$발생지시도), decreasing=T)

경기 경북 충남 경남 서울 전남 전북 충북 강원 부산 대구 인천 대전 광주 제주 울산
 749  477  372  359  342  327  275  221  206  153  150  137   94   85   77   70
세종
  25

In [210]:
# 사고유형_대분류 교통사고 건수
sort(table(car$사고유형_대분류),decreasing=T)

차대사람   차대차 차량단독
    1647     1646      826

In [211]:
# 사고유형 교통사고 건수
sort(table(car$사고유형),decreasing=T)

              횡단중                 기타         측면직각충돌
                1078                  665                  619
            전도전복          진행중 추돌             정면충돌
                 480                  436                  323
          공작물충돌           차도통행중 길가장자리구역통행중
                 230                  146                   65
       도로이탈 추락           보도통행중        도로이탈 기타
                  30                   30                   16
    주/정차차량 충돌
                   1

In [212]:
# 법규위반 교통사고 건수
sort(table(car$법규위반),decreasing=T)

       안전운전 의무 불이행                    신호위반
                       2856                         333
                중앙선 침범                        과속
                        314                         178
       보행자 보호의무 위반        교차로 통행방법 위반
                        174                          68
            안전거리 미확보        기타(운전자법규위반)
                         68                          44
직진 및 우회전차의 통행방해                 부당한 회전
                         37                          28
    차로위반(진로변경 위반)           앞지르기 금지위반
                         12                           3
       서행 및 일시정지위반           앞지르기 방법위반
                          2                           2

In [213]:
# 도로형태 교통사고 건수
sort(table(car$도로형태),decreasing=T)

  기타단일로     교차로내   교차로부근   횡단보도상    기타/불명       교량위
        2427          817          468          170          103           49
횡단보도부근       터널안   고가도로위   지하도로내
          37           21           14           13

In [214]:
# 도로형태 교통사고 건수
sort(table(car$도로형태),decreasing=T)

  기타단일로     교차로내   교차로부근   횡단보도상    기타/불명       교량위
        2427          817          468          170          103           49
횡단보도부근       터널안   고가도로위   지하도로내
          37           21           14           13

In [215]:
# 당사자종별_1당교통사고 건수
sort(table(car$당사자종별_1당),decreasing=T)

            소형             중형             경형             대형
            1265             1206              660              478
원동기장치자전거           자전거         건설기계           농기계
             184              113               94               72
          사발이             불명
              45                2

# 교통사고 현황 데이터 기술통계2 (분산화 경향)
+ 데이터가 주로 범주형으로 구성되어 있기때문에
+ 조건검색 후 데이터를 선별하지 않는 이상 적절한 분석은 의미없음