## 결측치 : missing value (누락값)
* 데이터 수집과정에서 채워지지 못한 값을 의미
* 예를 들어 설문조사시 설문자가 특정문항에
  + 답을 하지 않으면 그 문항이 결측치가 됨
* 데이터에 결측치가 포함되어 있으면
  + 데이터 분석시 편향/왜곡된 결과가 도출될 수 있음
*해결책 : 제거하거나 추정값으로 대체

In [1]:
x <- c(1,2,3,NA,5,NA,7)
sum(x)

# NA 확인 => TRUE
is.na(x)

# 결측치 갯수 확인
sum(is.na(x))

# 빈도표 결측치 확인
table(is.na(x))

[1] NA

[1] FALSE FALSE FALSE  TRUE FALSE  TRUE FALSE

[1] 2

FALSE  TRUE
    5     2

### 결측치 처리 : 제거

In [2]:
sum(x, na.rm=T) # NA 제외후 계산

[1] 18

In [3]:
# NA 제거
na.omit(x)

# NA 제거 후 새로운 벡터로 저장
x2 <- as.vector(na.omit(x))
x2

[1] 1 2 3 5 7
attr(,"na.action")
[1] 4 6
attr(,"class")
[1] "omit"

[1] 1 2 3 5 7

### 결측치 처리 : 대체

In [4]:
mean <- mean(x, na.rm=T)

# boolean 인덱싱을 이용해서 NA 요소를 찾은 후 평균값으로 대체
x[is.na(x)] <- mean
x

[1] 1.0 2.0 3.0 3.6 5.0 3.6 7.0

In [19]:
titanic <- read.csv('data/titanic2.csv', na.strings=c('','NA'))

Warning message in file(file, "rt"):
“cannot open file 'data/titanic2.csv': No such file or directory”

ERROR: Error in file(file, "rt"): cannot open the connection

In [14]:
str(titanic)

ERROR: Error in str(titanic): object 'titanic' not found