### 데이터 전처리
* 데이터를 조건에 따라 추출하고 원하는 형태로 데이터를 가공하는 것을 의미
* 원시 데이터를 분석 목적에 맞게 다른 형태로 가공하는 것
* 데이터 wrangling 또는 munging 이라고 함

## 데이터 프레임
* 서로 다른 자료형으로 구성된 데이터들로 만들어진 2차원 배열
* 겉으로 봤을때는 행렬과 비슷해 보임

In [1]:
# 성적 데이터 불러오기
load('../data/sungjuk.rdata')
head(sungjuk)

  name eng mat sci
1 John 90  85  90
2 Tom  95  96  80
3 Mark 69  49  70
4 Jane 78  95  60

## 데이터프레임 각 요소 접근
* 데이터프레임명$변수명
* 데이터프레임명[인덱스, 인덱스]

In [2]:
# 이름열을 출력하는 방법
sungjuk$name
sungjuk[, 1]
sungjuk[, 'name']

[1] John Tom  Mark Jane
Levels: Jane John Mark Tom

[1] John Tom  Mark Jane
Levels: Jane John Mark Tom

[1] John Tom  Mark Jane
Levels: Jane John Mark Tom

In [3]:
# Tom의 성적을 출력
sungjuk[2, ]
sungjuk['Tom', ]   # 데이터프레임에서는 사용불가!
sungjuk[sungjuk$name == 'Tom', ]

  name eng mat sci
2 Tom  95  96  80

   name eng mat sci
NA NA   NA  NA  NA

  name eng mat sci
2 Tom  95  96  80

In [4]:
# Jane의 성적만 출력
sungjuk[4, c(2,3,4)]
sungjuk[4, c('eng','mat','sci')]
sungjuk[4, c(2:4)]
sungjuk[sungjuk$name == 'Jane', c(2:4)]

  eng mat sci
4 78  95  60

  eng mat sci
4 78  95  60

  eng mat sci
4 78  95  60

  eng mat sci
4 78  95  60

## 성적 데이터프레임에서 총점/평균/학점 컬럼 추가하기
* 데이터프레임명$변수명 <- 처리코드

In [5]:
sungjuk$tot <- sungjuk$eng + sungjuk$mat + sungjuk$sci
sungjuk$avg <- round(sungjuk$tot / 3, 1)
sungjuk

  name eng mat sci tot avg
1 John 90  85  90  265 88.3
2 Tom  95  96  80  271 90.3
3 Mark 69  49  70  188 62.7
4 Jane 78  95  60  233 77.7

## 변수를 줄여서 사용하기
* attach/detach, with, within 함수 이용

In [6]:
# attach(생략할키워드)
# detach(생략할키워드)

# 파생변수 생성에는 사용불가
load('../data/sungjuk.rdata')
attach(sungjuk)

In [7]:
eng + mat + sci
round((eng + mat + sci) / 3, 1)
detach(sungjuk)

[1] 265 271 188 233

[1] 88.3 90.3 62.7 77.7

In [8]:
attach(sungjuk)
tot <- eng + mat + sci
avg <- round((eng + mat + sci) / 3, 1)
detach(sungjuk)
sungjuk

  name eng mat sci
1 John 90  85  90
2 Tom  95  96  80
3 Mark 69  49  70
4 Jane 78  95  60

In [9]:
# with(생략할키워드, { 처리코드 })
# attach/detach 보다는 사용 편리
# 파생변수 생성에는 사용불가
load('../data/sungjuk.rdata')
with(sungjuk, {tot <- eng + mat + sci
               avg <- round((eng + mat + sci) / 3, 1)})
sungjuk

  name eng mat sci
1 John 90  85  90
2 Tom  95  96  80
3 Mark 69  49  70
4 Jane 78  95  60

In [10]:
# within(생략할키워드, { 처리코드 })
# 파생변수 생성에 사용가능
# 단, 파생변수 생성후 다시 데이터프레임에 저장해야 함!
load('../data/sungjuk.rdata')

# 파생변수 초기화
sungjuk$tot <- c(0,0,0,0)
sungjuk$avg <- c(0,0,0,0)

sungjuk <- within(sungjuk, { tot <- eng + mat + sci
                             avg <- round((eng + mat + sci) / 3, 1)})

sungjuk

  name eng mat sci tot avg
1 John 90  85  90  265 88.3
2 Tom  95  96  80  271 90.3
3 Mark 69  49  70  188 62.7
4 Jane 78  95  60  233 77.7