## dplyr
* 데이터 전처리 작업은 동사로 정의된 각 함수를 통해서 이루어 짐
    + select    : 열 선택
    + filter    : 조건 검색
    + group_by  : 데이터 그룹화
    + mutate    : 행/열 추가
    + summrise  : 데이터 집계
    + arrange   : 데이터 정렬

* 이러한 함수들은 magrittr 패키지에 의해 구현된 파이프(>) 패러다임을 이용해서 체인형식으로 연산을 수행 할 수 있음
* 즉, 먼저 수행한 함수의 결과를 다음 실행할 함수의 입력으로 보낼 수 있음
    + sum(titanic, na.rm=T) # 기존방식
    + titanic %>% sum(na.rm=T) # 파이프 방식
* 파이프 기호(%>%)를 입력할 때는 단축키 ctrl + shift + M 를 사용함

In [2]:
library(dplyr)

In [3]:
load('sungjuk.rdata')

## arrange (데이터 정렬)

In [4]:
# 이름순으로 오름차순 정렬

sungjuk %>% arrange(name)

  name eng mat sci
1 Jane 78  95  60
2 John 90  85  90
3 Mark 69  49  70
4 Tom  95  96  80

In [6]:
# 이름순으로 내림차순 정렬

sungjuk %>% arrange(desc(name))

  name eng mat sci
1 Tom  95  96  80
2 Mark 69  49  70
3 John 90  85  90
4 Jane 78  95  60

In [7]:
# 영어/수학/과학 점수를 내림차순 정렬

sungjuk %>% arrange(eng, mat, sci)

  name eng mat sci
1 Mark 69  49  70
2 Jane 78  95  60
3 John 90  85  90
4 Tom  95  96  80

## summarise (데이터 집계)

In [11]:
# 평균 영어 점수 출력

sungjuk %>% summarise(평균영어점수=mean(eng))

  평균영어점수
1 83

In [13]:
# 각 과목별로 평균/최고/최소 점수 출력

sungjuk %>% summarise(평균영어점수=mean(eng), 평균수학점수=mean(mat), 평균과학점수=mean(sci),
            최고영어점수=max(eng), 최고수학점수=max(mat), 최고과학점수=max(sci),
            최소영어점수=min(eng), 최소수학점수=min(mat), 최소과학점수=min(sci))

  평균영어점수 평균수학점수 평균과학점수 최고영어점수 최고수학점수 최고과학점수
1 83           81.25        75           95           96           90
  최소영어점수 최소수학점수 최소과학점수
1 69           49           60

## group_by (데이터 그룹화)

In [15]:
# 새로운 컬럼 추가
sungjuk$class <- c(2,1,2,3)

In [19]:
# 클래스별 평균 영어점수 출력

sungjuk %>% group_by(class) %>% summarise(평균영어=mean(eng))

  class 평균영어
1 1     95.0
2 2     79.5
3 3     78.0

In [20]:
# 클래스별 최고/최소 영어점수 출력
sungjuk %>% group_by(class) %>% summarise(max(eng), min(eng))

  class max(eng) min(eng)
1 1     95       95
2 2     90       69
3 3     78       78

In [21]:
# diamonds 데이터셋을 이용해서 다음 문제를 풀어보시오

library(ggplot2)

diamonds

      carat cut       color clarity depth table price x    y    z
1     0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2     0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3     0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4     0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5     0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6     0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48
7     0.24  Very Good I     VVS1    62.3  57    336   3.95 3.98 2.47
8     0.26  Very Good H     SI1     61.9  55    337   4.07 4.11 2.53
9     0.22  Fair      E     VS2     65.1  61    337   3.87 3.78 2.49
10    0.23  Very Good H     VS1     59.4  61    338   4.00 4.05 2.39
11    0.30  Good      J     SI1     64.0  55    339   4.25 4.28 2.73
12    0.23  Ideal     J     VS1     62.8  56    340   3.93 3.90 2.46
13    0.22  Premium   F     SI1     60.4  61    342   3.88 3.84 2.33
14    0.31  Ideal     J     SI2     62.2  54    344   4.35 4.37 2.71
15    0.20  Premium   E     SI2     60.2  62    345   3.79 3.75 2.27
16    0.32  Premium   E     I1      60.9  58    345   4.38 4.42 2.68
17    0.30  Ideal     I     SI2     62.0  54    348   4.31 4.34 2.68
18    0.30  Good      J     SI1     63.4  54    351   4.23 4.29 2.70
19    0.30  Good      J     SI1     63.8  56    351   4.23 4.26 2.71
20    0.30  Very Good J     SI1     62.7  59    351   4.21 4.27 2.66
21    0.30  Good      I     SI2     63.3  56    351   4.26 4.30 2.71
22    0.23  Very Good E     VS2     63.8  55    352   3.85 3.92 2.48
23    0.23  Very Good H     VS1     61.0  57    353   3.94 3.96 2.41
24    0.31  Very Good J     SI1     59.4  62    353   4.39 4.43 2.62
25    0.31  Very Good J     SI1     58.1  62    353   4.44 4.47 2.59
26    0.23  Very Good G     VVS2    60.4  58    354   3.97 4.01 2.41
27    0.24  Premium   I     VS1     62.5  57    355   3.97 3.94 2.47
28    0.30  Very Good J     VS2     62.2  57    357   4.28 4.30 2.67
29    0.23  Very Good D     VS2     60.5  61    357   3.96 3.97 2.40
30    0.23  Very Good F     VS1     60.9  57    357   3.96 3.99 2.42
⋮     ⋮     ⋮         ⋮     ⋮       ⋮     ⋮     ⋮     ⋮    ⋮    ⋮
53911 0.70  Premium   E     SI1     60.5  58    2753  5.74 5.77 3.48
53912 0.57  Premium   E     IF      59.8  60    2753  5.43 5.38 3.23
53913 0.61  Premium   F     VVS1    61.8  59    2753  5.48 5.40 3.36
53914 0.80  Good      G     VS2     64.2  58    2753  5.84 5.81 3.74
53915 0.84  Good      I     VS1     63.7  59    2753  5.94 5.90 3.77
53916 0.77  Ideal     E     SI2     62.1  56    2753  5.84 5.86 3.63
53917 0.74  Good      D     SI1     63.1  59    2753  5.71 5.74 3.61
53918 0.90  Very Good J     SI1     63.2  60    2753  6.12 6.09 3.86
53919 0.76  Premium   I     VS1     59.3  62    2753  5.93 5.85 3.49
53920 0.76  Ideal     I     VVS1    62.2  55    2753  5.89 5.87 3.66
53921 0.70  Very Good E     VS2     62.4  60    2755  5.57 5.61 3.49
53922 0.70  Very Good E     VS2     62.8  60    2755  5.59 5.65 3.53
53923 0.70  Very Good D     VS1     63.1  59    2755  5.67 5.58 3.55
53924 0.73  Ideal     I     VS2     61.3  56    2756  5.80 5.84 3.57
53925 0.73  Ideal     I     VS2     61.6  55    2756  5.82 5.84 3.59
53926 0.79  Ideal     I     SI1     61.6  56    2756  5.95 5.97 3.67
53927 0.71  Ideal     E     SI1     61.9  56    2756  5.71 5.73 3.54
53928 0.79  Good      F     SI1     58.1  59    2756  6.06 6.13 3.54
53929 0.79  Premium   E     SI2     61.4  58    2756  6.03 5.96 3.68
53930 0.71  Ideal     G     VS1     61.4  56    2756  5.76 5.73 3.53
53931 0.71  Premium   E     SI1     60.5  55    2756  5.79 5.74 3.49
53932 0.71  Premium   F     SI1     59.8  62    2756  5.74 5.73 3.43
53933 0.70  Very Good E     VS2     60.5  59    2757  5.71 5.76 3.47
53934 0.70  Very Good E     VS2     61.2  59    2757  5.69 5.72 3.49
53935 0.72  Premium   D     SI1     62.7  59    2757  5.69 5.73 3.58
53936 0.72  Ideal     D     SI1     60.8  57    2757  5.75 5.76 3.50
53937 0.72  Good      D     SI1     63.1  55    2757  5.69 5.75 3.61
53938 0.70  Very Good D     SI1     62.8  60    2757  5.66 5.68 3.56
53939 0.86  Premium   H     SI2     61.0  58    2757  6.15 6.12 3.74
53940 0.75  Ideal     D     SI2     62.2  55    2757  5.83 5.87 3.64

In [92]:
# carat과 price 변수 출력

head(diamonds[, c('carat','price')])

  carat price
1 0.23  326
2 0.21  326
3 0.23  327
4 0.29  334
5 0.31  335
6 0.24  336

In [93]:
head(diamonds[, c(1,7)])

  carat price
1 0.23  326
2 0.21  326
3 0.23  327
4 0.29  334
5 0.31  335
6 0.24  336

In [49]:
diamonds %>% select(carat, price) %>% head()

  carat price
1 0.23  326
2 0.21  326
3 0.23  327
4 0.29  334
5 0.31  335
6 0.24  336

In [53]:
diamonds %>% select(1, 7) %>% head()

  carat price
1 0.23  326
2 0.21  326
3 0.23  327
4 0.29  334
5 0.31  335
6 0.24  336

In [94]:
head(select(diamonds, 1, 7) )

  carat price
1 0.23  326
2 0.21  326
3 0.23  327
4 0.29  334
5 0.31  335
6 0.24  336

In [95]:
# 변수들 중 carat, price 제외하고 모두 출력

# diamonds[, -c('carat','price')] # 오류발생!
head(diamonds[, -c(1,7)])

  cut       color clarity depth table x    y    z
1 Ideal     E     SI2     61.5  55    3.95 3.98 2.43
2 Premium   E     SI1     59.8  61    3.89 3.84 2.31
3 Good      E     VS1     56.9  65    4.05 4.07 2.31
4 Premium   I     VS2     62.4  58    4.20 4.23 2.63
5 Good      J     SI2     63.3  58    4.34 4.35 2.75
6 Very Good J     VVS2    62.8  57    3.94 3.96 2.48

In [59]:
diamonds %>% select(-carat, -price) %>% head()
diamonds %>% select(-c(carat, price)) %>% head()

  cut       color clarity depth table x    y    z
1 Ideal     E     SI2     61.5  55    3.95 3.98 2.43
2 Premium   E     SI1     59.8  61    3.89 3.84 2.31
3 Good      E     VS1     56.9  65    4.05 4.07 2.31
4 Premium   I     VS2     62.4  58    4.20 4.23 2.63
5 Good      J     SI2     63.3  58    4.34 4.35 2.75
6 Very Good J     VVS2    62.8  57    3.94 3.96 2.48

  cut       color clarity depth table x    y    z
1 Ideal     E     SI2     61.5  55    3.95 3.98 2.43
2 Premium   E     SI1     59.8  61    3.89 3.84 2.31
3 Good      E     VS1     56.9  65    4.05 4.07 2.31
4 Premium   I     VS2     62.4  58    4.20 4.23 2.63
5 Good      J     SI2     63.3  58    4.34 4.35 2.75
6 Very Good J     VVS2    62.8  57    3.94 3.96 2.48

In [60]:
diamonds %>% select(-1, -7) %>% head()
diamonds %>% select(-c(1,7)) %>% head()

  cut       color clarity depth table x    y    z
1 Ideal     E     SI2     61.5  55    3.95 3.98 2.43
2 Premium   E     SI1     59.8  61    3.89 3.84 2.31
3 Good      E     VS1     56.9  65    4.05 4.07 2.31
4 Premium   I     VS2     62.4  58    4.20 4.23 2.63
5 Good      J     SI2     63.3  58    4.34 4.35 2.75
6 Very Good J     VVS2    62.8  57    3.94 3.96 2.48

  cut       color clarity depth table x    y    z
1 Ideal     E     SI2     61.5  55    3.95 3.98 2.43
2 Premium   E     SI1     59.8  61    3.89 3.84 2.31
3 Good      E     VS1     56.9  65    4.05 4.07 2.31
4 Premium   I     VS2     62.4  58    4.20 4.23 2.63
5 Good      J     SI2     63.3  58    4.34 4.35 2.75
6 Very Good J     VVS2    62.8  57    3.94 3.96 2.48

In [96]:
# select(diamonds, carat, price) 
# select(diamonds, 1, 7) 


head(select(diamonds, -c(carat, price)))
head(select(diamonds, -c(1, 7)))

  cut       color clarity depth table x    y    z
1 Ideal     E     SI2     61.5  55    3.95 3.98 2.43
2 Premium   E     SI1     59.8  61    3.89 3.84 2.31
3 Good      E     VS1     56.9  65    4.05 4.07 2.31
4 Premium   I     VS2     62.4  58    4.20 4.23 2.63
5 Good      J     SI2     63.3  58    4.34 4.35 2.75
6 Very Good J     VVS2    62.8  57    3.94 3.96 2.48

  cut       color clarity depth table x    y    z
1 Ideal     E     SI2     61.5  55    3.95 3.98 2.43
2 Premium   E     SI1     59.8  61    3.89 3.84 2.31
3 Good      E     VS1     56.9  65    4.05 4.07 2.31
4 Premium   I     VS2     62.4  58    4.20 4.23 2.63
5 Good      J     SI2     63.3  58    4.34 4.35 2.75
6 Very Good J     VVS2    62.8  57    3.94 3.96 2.48

In [70]:
# 변수명중 c로 시작하는 것만 출력 : starts_with
# diamonds[, starts_with('c')]  # 실행오류!

diamonds %>% select(starts_with('c')) %>% head()

head(select(diamonds, starts_with('c')))

  carat cut       color clarity
1 0.23  Ideal     E     SI2
2 0.21  Premium   E     SI1
3 0.23  Good      E     VS1
4 0.29  Premium   I     VS2
5 0.31  Good      J     SI2
6 0.24  Very Good J     VVS2

  carat cut       color clarity
1 0.23  Ideal     E     SI2
2 0.21  Premium   E     SI1
3 0.23  Good      E     VS1
4 0.29  Premium   I     VS2
5 0.31  Good      J     SI2
6 0.24  Very Good J     VVS2

In [75]:
# 변수명중 e로 끝나는 것만 출력 : ends_with

diamonds %>% select(ends_with('e')) %>% head()

head(select(diamonds, ends_with('e')))

  table price
1 55    326
2 61    326
3 65    327
4 58    334
5 58    335
6 57    336

  table price
1 55    326
2 61    326
3 65    327
4 58    334
5 58    335
6 57    336

In [76]:
# 변수명중 l을 포함하는 것만 출력: contains/matches

diamonds %>% select(contains('l')) %>% head()

head(select(diamonds, contains('l')))

  color clarity table
1 E     SI2     55
2 E     SI1     61
3 E     VS1     65
4 I     VS2     58
5 J     SI2     58
6 J     VVS2    57

  color clarity table
1 E     SI2     55
2 E     SI1     61
3 E     VS1     65
4 I     VS2     58
5 J     SI2     58
6 J     VVS2    57

In [87]:
# 변수명중 r과 t를 포함한 것만 출력

diamonds %>% select(contains('r') & contains('t')) %>% head()


diamonds %>% select(matches('r.t')) %>% head()


diamonds %>% select(matches('r.+t')) %>% head()

  carat clarity
1 0.23  SI2
2 0.21  SI1
3 0.23  VS1
4 0.29  VS2
5 0.31  SI2
6 0.24  VVS2

  carat clarity
1 0.23  SI2
2 0.21  SI1
3 0.23  VS1
4 0.29  VS2
5 0.31  SI2
6 0.24  VVS2

  carat clarity
1 0.23  SI2
2 0.21  SI1
3 0.23  VS1
4 0.29  VS2
5 0.31  SI2
6 0.24  VVS2

In [91]:
# cut 변수 값 중 'Ideal' 인 데이터 조회

head(diamonds[diamonds$cut == 'Ideal',])

diamonds %>% filter(cut == 'Ideal') %>% head()

head(filter(diamonds, cut == 'Ideal'))

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
3 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71
4 0.30  Ideal I     SI2     62.0  54    348   4.31 4.34 2.68
5 0.33  Ideal I     SI2     61.8  55    403   4.49 4.51 2.78
6 0.33  Ideal I     SI2     61.2  56    403   4.49 4.50 2.75

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
3 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71
4 0.30  Ideal I     SI2     62.0  54    348   4.31 4.34 2.68
5 0.33  Ideal I     SI2     61.8  55    403   4.49 4.51 2.78
6 0.33  Ideal I     SI2     61.2  56    403   4.49 4.50 2.75

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
3 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71
4 0.30  Ideal I     SI2     62.0  54    348   4.31 4.34 2.68
5 0.33  Ideal I     SI2     61.8  55    403   4.49 4.51 2.78
6 0.33  Ideal I     SI2     61.2  56    403   4.49 4.50 2.75

In [100]:
# price 가 1000 이상인 데이터 조회

head(diamonds[diamonds$price >= 1000,])

diamonds %>% filter(price>= 1000) %>% head()

head(filter(diamonds, price >= 1000))

  carat cut       color clarity depth table price x    y    z
1 0.70  Ideal     E     SI1     62.5  57    2757  5.70 5.72 3.57
2 0.86  Fair      E     SI2     55.1  69    2757  6.45 6.33 3.52
3 0.70  Ideal     G     VS2     61.6  56    2757  5.70 5.67 3.50
4 0.71  Very Good E     VS2     62.4  57    2759  5.68 5.73 3.56
5 0.78  Very Good G     SI2     63.8  56    2759  5.81 5.85 3.72
6 0.70  Good      E     VS2     57.5  58    2759  5.85 5.90 3.38

  carat cut       color clarity depth table price x    y    z
1 0.70  Ideal     E     SI1     62.5  57    2757  5.70 5.72 3.57
2 0.86  Fair      E     SI2     55.1  69    2757  6.45 6.33 3.52
3 0.70  Ideal     G     VS2     61.6  56    2757  5.70 5.67 3.50
4 0.71  Very Good E     VS2     62.4  57    2759  5.68 5.73 3.56
5 0.78  Very Good G     SI2     63.8  56    2759  5.81 5.85 3.72
6 0.70  Good      E     VS2     57.5  58    2759  5.85 5.90 3.38

  carat cut       color clarity depth table price x    y    z
1 0.70  Ideal     E     SI1     62.5  57    2757  5.70 5.72 3.57
2 0.86  Fair      E     SI2     55.1  69    2757  6.45 6.33 3.52
3 0.70  Ideal     G     VS2     61.6  56    2757  5.70 5.67 3.50
4 0.71  Very Good E     VS2     62.4  57    2759  5.68 5.73 3.56
5 0.78  Very Good G     SI2     63.8  56    2759  5.81 5.85 3.72
6 0.70  Good      E     VS2     57.5  58    2759  5.85 5.90 3.38

In [105]:
# carat이 2이상, price 가 14000 이하인 데이터 조회

head(diamonds[diamonds$carat >= 2 & diamonds$price <= 14000,])


diamonds %>% filter(carat >= 2 , price <= 14000) %>% head()


head(filter(diamonds, carat >=2 & price <= 14000))

  carat cut     color clarity depth table price x    y    z
1 2.00  Premium J     I1      61.5  59    5051  8.11 8.06 4.97
2 2.06  Premium J     I1      61.2  58    5203  8.10 8.07 4.95
3 2.14  Fair    J     I1      69.4  57    5405  7.74 7.70 5.36
4 2.15  Fair    J     I1      65.5  57    5430  8.01 7.95 5.23
5 2.22  Fair    J     I1      66.7  56    5607  8.04 8.02 5.36
6 2.00  Fair    I     I1      66.0  60    5667  7.78 7.74 5.10

  carat cut     color clarity depth table price x    y    z
1 2.00  Premium J     I1      61.5  59    5051  8.11 8.06 4.97
2 2.06  Premium J     I1      61.2  58    5203  8.10 8.07 4.95
3 2.14  Fair    J     I1      69.4  57    5405  7.74 7.70 5.36
4 2.15  Fair    J     I1      65.5  57    5430  8.01 7.95 5.23
5 2.22  Fair    J     I1      66.7  56    5607  8.04 8.02 5.36
6 2.00  Fair    I     I1      66.0  60    5667  7.78 7.74 5.10

  carat cut     color clarity depth table price x    y    z
1 2.00  Premium J     I1      61.5  59    5051  8.11 8.06 4.97
2 2.06  Premium J     I1      61.2  58    5203  8.10 8.07 4.95
3 2.14  Fair    J     I1      69.4  57    5405  7.74 7.70 5.36
4 2.15  Fair    J     I1      65.5  57    5430  8.01 7.95 5.23
5 2.22  Fair    J     I1      66.7  56    5607  8.04 8.02 5.36
6 2.00  Fair    I     I1      66.0  60    5667  7.78 7.74 5.10

In [134]:
# carat이 1초과, 5 미만인 데이터 조회


head(diamonds[diamonds$carat >= 1 | diamonds$carat > 5,])


diamonds %>% filter(carat > 1 | carat > 5) %>% head()


head(filter(diamonds, carat > 1 | carat > 5))

  carat cut       color clarity depth table price x    y    z
1 1.17  Very Good J     I1      60.2  61    2774  6.83 6.90 4.13
2 1.01  Premium   F     I1      61.8  60    2781  6.39 6.36 3.94
3 1.01  Fair      E     I1      64.5  58    2788  6.29 6.21 4.03
4 1.01  Premium   H     SI2     62.7  59    2788  6.31 6.22 3.93
5 1.05  Very Good J     SI2     63.2  56    2789  6.49 6.45 4.09
6 1.05  Fair      J     SI2     65.8  59    2789  6.41 6.27 4.18

  carat cut       color clarity depth table price x    y    z
1 1.17  Very Good J     I1      60.2  61    2774  6.83 6.90 4.13
2 1.01  Premium   F     I1      61.8  60    2781  6.39 6.36 3.94
3 1.01  Fair      E     I1      64.5  58    2788  6.29 6.21 4.03
4 1.01  Premium   H     SI2     62.7  59    2788  6.31 6.22 3.93
5 1.05  Very Good J     SI2     63.2  56    2789  6.49 6.45 4.09
6 1.05  Fair      J     SI2     65.8  59    2789  6.41 6.27 4.18

  carat cut       color clarity depth table price x    y    z
1 1.17  Very Good J     I1      60.2  61    2774  6.83 6.90 4.13
2 1.01  Premium   F     I1      61.8  60    2781  6.39 6.36 3.94
3 1.01  Fair      E     I1      64.5  58    2788  6.29 6.21 4.03
4 1.01  Premium   H     SI2     62.7  59    2788  6.31 6.22 3.93
5 1.05  Very Good J     SI2     63.2  56    2789  6.49 6.45 4.09
6 1.05  Fair      J     SI2     65.8  59    2789  6.41 6.27 4.18

In [135]:
# carat이 1미만이거나, 5초과인 데이터 조회

head(diamonds[diamonds$carat < 1 | diamonds$carat > 5,])


diamonds %>% filter(carat < 1 | carat > 5) %>% head()


head(filter(diamonds, carat < 1 | carat > 5))

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [128]:
# cut이 'Ideal'이거나 'Good'인 데이터 조회


head(diamonds[diamonds$cut =='Ideal' | diamonds$cut == 'Good',])

head(diamonds[diamonds$cut %in% c('Ideal','Good'),])


diamonds %>% filter(cut == 'Ideal' | cut == 'Good') %>% head()


diamonds %>% filter(cut %in% c('Ideal','Good')) %>% head()

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Good  E     VS1     56.9  65    327   4.05 4.07 2.31
3 0.31  Good  J     SI2     63.3  58    335   4.34 4.35 2.75
4 0.30  Good  J     SI1     64.0  55    339   4.25 4.28 2.73
5 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
6 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Good  E     VS1     56.9  65    327   4.05 4.07 2.31
3 0.31  Good  J     SI2     63.3  58    335   4.34 4.35 2.75
4 0.30  Good  J     SI1     64.0  55    339   4.25 4.28 2.73
5 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
6 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Good  E     VS1     56.9  65    327   4.05 4.07 2.31
3 0.31  Good  J     SI2     63.3  58    335   4.34 4.35 2.75
4 0.30  Good  J     SI1     64.0  55    339   4.25 4.28 2.73
5 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
6 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Good  E     VS1     56.9  65    327   4.05 4.07 2.31
3 0.31  Good  J     SI2     63.3  58    335   4.34 4.35 2.75
4 0.30  Good  J     SI1     64.0  55    339   4.25 4.28 2.73
5 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
6 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71

In [138]:
# price를 carat으로 나눈 것을 Ratio라는 컬럼으로
# Ratio 컬럼을 제곱한것을 Double이라는 컬럼으로 생성

dia <- diamonds
dia$Ratio <- dia$price / dia$carat
dia$Double <- dia$Ratio **2

head(dia[,c('carat','price','Ratio','Double')])

  carat price Ratio    Double
1 0.23  326   1417.391 2008998
2 0.21  326   1552.381 2409887
3 0.23  327   1421.739 2021342
4 0.29  334   1151.724 1326468
5 0.31  335   1080.645 1167794
6 0.24  336   1400.000 1960000

In [139]:
dia <- diamonds

dia %>% mutate(Ratio = price / carat, Double = Ratio **2) %>% select('carat','price','Ratio','Double') %>% head()

  carat price Ratio    Double
1 0.23  326   1417.391 2008998
2 0.21  326   1552.381 2409887
3 0.23  327   1421.739 2021342
4 0.29  334   1151.724 1326468
5 0.31  335   1080.645 1167794
6 0.24  336   1400.000 1960000

In [160]:
# 평균 가격price와 price의 중앙값, 평균 carat을 집계


c1 <- mean(diamonds$price)
c2 <- median(diamonds$price)
c3 <- mean(diamonds$carat)


# 여러컬럼을 하나로 묶음 : cbind, data.frame

df <- data.frame(c1,c2,c3)

colnames(df) = c('avgPrice', 'medPrice', 'avgCarat')

df

  avgPrice medPrice avgCarat
1 3932.8   2401     0.7979397

In [146]:
diamonds %>% summarise(avgPrice=mean(price), medPrice=median(price), avgCarat=mean(carat))

  avgPrice medPrice avgCarat
1 3932.8   2401     0.7979397

## 집계처리 : aggregate
+ aggregate(집계대상컬럼, by=그룹대상컬럼, 집계함수)
+ aggregate(인자식, 데이터, 집계함수)
+ 집계시 사용하는 인자식 예 : a ~ b + c
  - a : 집계하고자 하는 대상
  - b : 그룹으로 묶을 기준1
  - c : 그룹으로 묶을 기준2

In [162]:
# cut 기준으로 평균 price를 집계

aggregate(diamonds$price, by=list(diamonds$cut), FUN=mean)

  Group.1   x
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

In [166]:
aggregate(price ~ cut, diamonds, FUN=mean)

  cut       price
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

In [169]:
diamonds %>% group_by(cut) %>% summarise(avgPrice=mean(price))

  cut       avgPrice
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

In [177]:
# cut, color 기준으로 평균 가격을 avgPrice로, 총 carat을 sumCarat이라는 이름으로 집계

head(aggregate(price ~ cut + color, diamonds, FUN=mean))
head(aggregate(carat ~ cut + color, diamonds, FUN=sum))

  cut       color price
1 Fair      D     4291.061
2 Good      D     3405.382
3 Very Good D     3470.467
4 Premium   D     3631.293
5 Ideal     D     2629.095
6 Fair      E     3682.312

  cut       color carat
1 Fair      D      149.98
2 Good      D      492.87
3 Very Good D     1053.69
4 Premium   D     1156.64
5 Ideal     D     1603.38
6 Fair      E      191.88

In [183]:
# aggregate함수에 집계함수를 2개 이상 사용하려면
# plyr 패키지의 each 함수를 사용해야함
# 단, 하나의 집계대상 컬럼에만 적용가능
#install.packages('plyr')

library(plyr)

aggregate(carat ~ cut + color, diamonds, each(mean, sum))

   cut       color carat
1  Fair      D     0.9201227,  149.98
2  Good      D     0.7445166,  492.87
3  Very Good D     0.6964243, 1053.69
4  Premium   D     0.7215471, 1156.64
5  Ideal     D     0.5657657, 1603.38
6  Fair      E     0.8566071,  191.88
7  Good      E     0.7451340,  695.21
8  Very Good E     0.6763167, 1623.16
9  Premium   E     0.7177450, 1677.37
10 Ideal     E     0.5784012, 2257.50
11 Fair      F     0.9047115,  282.27
12 Good      F     0.7759296,  705.32
13 Very Good F     0.7409612, 1603.44
14 Premium   F     0.8270356, 1927.82
15 Ideal     F     0.6558285, 2509.20
16 Fair      G     1.0238217,  321.48
17 Good      G     0.8508955,  741.13
18 Very Good G     0.7667986, 1762.87
19 Premium   G     0.8414877, 2460.51
20 Ideal     G     0.7007146, 3422.29
21 Fair      H     1.2191749,  369.41
22 Good      H     0.9147293,  642.14
23 Very Good H     0.9159485, 1670.69
24 Premium   H     1.0164492, 2398.82
25 Ideal     H     0.7995249, 2490.52
26 Fair      I     1.1980571,  209.66
27 Good      I     1.0572222,  551.87
28 Very Good I     1.0469518, 1260.53
29 Premium   I     1.1449370, 1634.97
30 Ideal     I     0.9130291, 1910.97
31 Fair      J     1.3411765,  159.60
32 Good      J     1.0995440,  337.56
33 Very Good J     1.1332153,  768.32
34 Premium   J     1.2930941, 1044.82
35 Ideal     J     1.0635937,  952.98

In [190]:
diamonds %>% group_by(cut, color) %>% summarise(avgPrice=mean(price), sumCarat=sum(carat))

  avgPrice sumCarat
1 3932.8   43040.87

In [210]:
# plyr 패키지를 메모리에서 제거
#detach('package:plyr', unload=T)

In [208]:
# color 기준으로 평균 가격을 avgPrice로, 총 carat을 sumCarat이라는 이름으로 집계하고 평균가격으로 내림차순 정렬
dia <- diamonds
avgPrice <- aggregate(price ~ color,dia,FUN=mean)
avgPrice 

sumCarat <- aggregate(carat ~ color,dia,FUN=sum)
sumCarat 

df <- data.frame(avgPrice, carat=(sumCarat$carat))
colnames(df) <- c('color','avgPrice','sumCarat')
df

  color price
1 D     3169.954
2 E     3076.752
3 F     3724.886
4 G     3999.136
5 H     4486.669
6 I     5091.875
7 J     5323.818

  color carat
1 D     4456.56
2 E     6445.12
3 F     7028.05
4 G     8708.28
5 H     7571.58
6 I     5568.00
7 J     3263.28

  color avgPrice sumCarat
1 D     3169.954 4456.56
2 E     3076.752 6445.12
3 F     3724.886 7028.05
4 G     3999.136 8708.28
5 H     4486.669 7571.58
6 I     5091.875 5568.00
7 J     5323.818 3263.28

In [213]:
df[order(-df$avgPrice), ]  # 정렬 출력

  color avgPrice sumCarat
7 J     5323.818 3263.28
6 I     5091.875 5568.00
5 H     4486.669 7571.58
4 G     3999.136 8708.28
3 F     3724.886 7028.05
1 D     3169.954 4456.56
2 E     3076.752 6445.12

In [215]:
diamonds %>% group_by(color) %>% summarise(avgPrice=mean(price), sumCarat=sum(carat)) %>% arrange(desc(avgPrice))

  color avgPrice sumCarat
1 J     5323.818 3263.28
2 I     5091.875 5568.00
3 H     4486.669 7571.58
4 G     3999.136 8708.28
5 F     3724.886 7028.05
6 D     3169.954 4456.56
7 E     3076.752 6445.12

In [219]:
# color 기준으로 평균 가격을 avgPrice로, 총 carat을 sumCarat이라는 이름으로 집계하고,
# 평균가격은 내림차순 정렬, 총 carat은 오름차순으로 정렬


df[ order(-df$avgPrice, df$sumCarat),  ]


diamonds %>% group_by(color) %>% summarise(avgPrice=mean(price), sumCarat=sum(carat)) %>% arrange(desc(avgPrice), sumCarat)

  color avgPrice sumCarat
7 J     5323.818 3263.28
6 I     5091.875 5568.00
5 H     4486.669 7571.58
4 G     3999.136 8708.28
3 F     3724.886 7028.05
1 D     3169.954 4456.56
2 E     3076.752 6445.12

  color avgPrice sumCarat
1 J     5323.818 3263.28
2 I     5091.875 5568.00
3 H     4486.669 7571.58
4 G     3999.136 8708.28
5 F     3724.886 7028.05
6 D     3169.954 4456.56
7 E     3076.752 6445.12