# ggplot2 패키지에 있는 mpg 데이터셋을 이용해서 다음 문제들을 풀어보세요

In [1]:
library(ggplot2)

mpg

    manufacturer model              displ year cyl trans      drv cty hwy fl
1   audi         a4                 1.8   1999 4   auto(l5)   f   18  29  p
2   audi         a4                 1.8   1999 4   manual(m5) f   21  29  p
3   audi         a4                 2.0   2008 4   manual(m6) f   20  31  p
4   audi         a4                 2.0   2008 4   auto(av)   f   21  30  p
5   audi         a4                 2.8   1999 6   auto(l5)   f   16  26  p
6   audi         a4                 2.8   1999 6   manual(m5) f   18  26  p
7   audi         a4                 3.1   2008 6   auto(av)   f   18  27  p
8   audi         a4 quattro         1.8   1999 4   manual(m5) 4   18  26  p
9   audi         a4 quattro         1.8   1999 4   auto(l5)   4   16  25  p
10  audi         a4 quattro         2.0   2008 4   manual(m6) 4   20  28  p
11  audi         a4 quattro         2.0   2008 4   auto(s6)   4   19  27  p
12  audi         a4 quattro         2.8   1999 6   auto(l5)   4   15  25  p
13  audi         a4 quattro         2.8   1999 6   manual(m5) 4   17  25  p
14  audi         a4 quattro         3.1   2008 6   auto(s6)   4   17  25  p
15  audi         a4 quattro         3.1   2008 6   manual(m6) 4   15  25  p
16  audi         a6 quattro         2.8   1999 6   auto(l5)   4   15  24  p
17  audi         a6 quattro         3.1   2008 6   auto(s6)   4   17  25  p
18  audi         a6 quattro         4.2   2008 8   auto(s6)   4   16  23  p
19  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
20  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   11  15  e
21  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
22  chevrolet    c1500 suburban 2wd 5.7   1999 8   auto(l4)   r   13  17  r
23  chevrolet    c1500 suburban 2wd 6.0   2008 8   auto(l4)   r   12  17  r
24  chevrolet    corvette           5.7   1999 8   manual(m6) r   16  26  p
25  chevrolet    corvette           5.7   1999 8   auto(l4)   r   15  23  p
26  chevrolet    corvette           6.2   2008 8   manual(m6) r   16  26  p
27  chevrolet    corvette           6.2   2008 8   auto(s6)   r   15  25  p
28  chevrolet    corvette           7.0   2008 8   manual(m6) r   15  24  p
29  chevrolet    k1500 tahoe 4wd    5.3   2008 8   auto(l4)   4   14  19  r
30  chevrolet    k1500 tahoe 4wd    5.3   2008 8   auto(l4)   4   11  14  e
⋮   ⋮            ⋮                  ⋮     ⋮    ⋮   ⋮          ⋮   ⋮   ⋮   ⋮
205 toyota       toyota tacoma 4wd  3.4   1999 6   auto(l4)   4   15  19  r
206 toyota       toyota tacoma 4wd  4.0   2008 6   manual(m6) 4   15  18  r
207 toyota       toyota tacoma 4wd  4.0   2008 6   auto(l5)   4   16  20  r
208 volkswagen   gti                2.0   1999 4   manual(m5) f   21  29  r
209 volkswagen   gti                2.0   1999 4   auto(l4)   f   19  26  r
210 volkswagen   gti                2.0   2008 4   manual(m6) f   21  29  p
211 volkswagen   gti                2.0   2008 4   auto(s6)   f   22  29  p
212 volkswagen   gti                2.8   1999 6   manual(m5) f   17  24  r
213 volkswagen   jetta              1.9   1999 4   manual(m5) f   33  44  d
214 volkswagen   jetta              2.0   1999 4   manual(m5) f   21  29  r
215 volkswagen   jetta              2.0   1999 4   auto(l4)   f   19  26  r
216 volkswagen   jetta              2.0   2008 4   auto(s6)   f   22  29  p
217 volkswagen   jetta              2.0   2008 4   manual(m6) f   21  29  p
218 volkswagen   jetta              2.5   2008 5   auto(s6)   f   21  29  r
219 volkswagen   jetta              2.5   2008 5   manual(m5) f   21  29  r
220 volkswagen   jetta              2.8   1999 6   auto(l4)   f   16  23  r
221 volkswagen   jetta              2.8   1999 6   manual(m5) f   17  24  r
222 volkswagen   new beetle         1.9   1999 4   manual(m5) f   35  44  d
223 volkswagen   new beetle         1.9   1999 4   auto(l4)   f   29  41  d
224 volkswagen   new beetle         2.0   1999 4   manual(m5) f   21  29  r
225 volkswagen   new beetle         2.0   1999 4   auto(l4)   f   19  26  r
226 volkswagen   new beetle         2.5   2008 5   manual(m5) f   20  28  r
227 volkswagen   new beetle         2.5   2008 5   auto(s6)   f   20  29  r
228 volkswagen   passat             1.8   1999 4   manual(m5) f   21  29  p
229 volkswagen   passat             1.8   1999 4   auto(l5)   f   18  29  p
230 volkswagen   passat             2.0   2008 4   auto(s6)   f   19  28  p
231 volkswagen   passat             2.0   2008 4   manual(m6) f   21  29  p
232 volkswagen   passat             2.8   1999 6   auto(l5)   f   16  26  p
233 volkswagen   passat             2.8   1999 6   manual(m5) f   18  26  p
234 volkswagen   passat             3.6   2008 6   auto(s6)   f   17  26  p
    class
1   compact
2   compact
3   compact
4   compact
5   compact
6   compact
7   compact
8   compact
9   compact
10  compact
11  compact
12  compact
13  compact
14  compact
15  compact
16  midsize
17  midsize
18  midsize
19  suv
20  suv
21  suv
22  suv
23  suv
24  2seater
25  2seater
26  2seater
27  2seater
28  2seater
29  suv
30  suv
⋮   ⋮
205 pickup
206 pickup
207 pickup
208 compact
209 compact
210 compact
211 compact
212 compact
213 compact
214 compact
215 compact
216 compact
217 compact
218 compact
219 compact
220 compact
221 compact
222 subcompact
223 subcompact
224 subcompact
225 subcompact
226 subcompact
227 subcompact
228 midsize
229 midsize
230 midsize
231 midsize
232 midsize
233 midsize
234 midsize

In [6]:
library(ggplot2)

In [5]:
library(dplyr)

In [7]:
# 차종class과 도시연비cty를 조회하세요
mpg %>% select(class, cty) %>% print(n=50)

# A tibble: 234 × 2
   class     cty
   <chr>   <int>
 1 compact    18
 2 compact    21
 3 compact    20
 4 compact    21
 5 compact    16
 6 compact    18
 7 compact    18
 8 compact    18
 9 compact    16
10 compact    20
11 compact    19
12 compact    15
13 compact    17
14 compact    17
15 compact    15
16 midsize    15
17 midsize    17
18 midsize    16
19 suv        14
20 suv        11
21 suv        14
22 suv        13
23 suv        12
24 2seater    16
25 2seater    15
26 2seater    16
27 2seater    15
28 2seater    15
29 suv        14
30 suv        11
31 suv        11
32 suv        14
33 midsize    19
34 midsize    22
35 midsize    18
36 midsize    18
37 midsize    17
38 minivan    18
39 minivan    17
40 minivan    16
41 minivan    16
42 minivan    17
43 minivan    17
44 minivan    11
45 minivan    15
46 minivan    15
47 minivan    16
48 minivan    16
49 pickup     15
50 pickup     14
# … with 184 more rows

In [8]:
# 차종이 suv, compact인 차량 중 어느 차량이 도시연비가 높은가?
suv <- mpg %>% select(class, cty) %>%
               filter(class == 'suv')

mean(suv$cty)   # 13.5
compact <- mpg %>% select(class, cty) %>%
                   filter(class == 'compact')  
round(mean(compact$cty), 1)    # 20.1
# 배기량displ에 따라(4,5)  어느 차량이
# 고속도로연비hwy가 높은가?
disp4 <- mpg %>% select(displ, hwy) %>%
                 filter(displ == 4)
mean(disp4$hwy)    # 19.6
disp5 <- mpg %>% select(displ, hwy) %>%
                 filter(displ == 5)
mean(disp5$hwy)    # 17
# 제조사manufactor에 따라(audi, toyota)
# 어느 차량이 도시연비가 높은가?
audi <- mpg %>% select(manufacturer, cty) %>%
                filter(manufacturer == 'audi')
round(mean(audi$cty), 1)     # 17.6
toyota <- mpg %>% select(manufacturer, cty) %>%
                  filter(manufacturer == 'toyota')
round(mean(toyota$cty), 1)     # 18.5
# chervolet, ford, honda 차량의
# 평균 고속도로연비를 조회하시오
car3 <- mpg %>% select(manufacturer, hwy) %>%
          filter(manufacturer == 'chervolet' |
                 manufacturer == 'ford' |
                 manufacturer == 'honda')
round(mean(car3$hwy), 1)     # 22.9
car3 <- mpg %>% select(manufacturer, hwy) %>%
      filter(manufacturer  %in%
               c('chervolet','ford', 'honda'))
round(mean(car3$hwy), 1)     # 22.9

[1] 13.5

[1] 20.1

[1] 19.6

[1] 17

[1] 17.6

[1] 18.5

[1] 22.9

[1] 22.9

In [10]:
# 차종이 suv, compact인 차량중 어느차량이 도시연비가 높은가?

suv <- mpg %>% select(class, cty)  %>%  filter(class=='suv')
mean(suv$cty)   #13.5

[1] 13.5

In [16]:
## 배기량 displ에 따라 (4,5) 어느차량이 고속도로 연비hwy가 높은가?

d4 <- mpg %>% filter(displ==4) %>% select(hwy)
mean(d4$hwy)

[1] 19.6

In [17]:
# 제조사 manufactor에 따라(audi, toyota) 어느차량이 도시연비가 높은가?
audi <- mpg %>% filter(manufacturer == 'audi') %>% select(cty)
mean(audi$cty)


toyota <- mpg %>% filter(manufacturer == 'toyota') %>% select(cty)
mean(toyota$cty)

[1] 17.61111

[1] 18.52941

In [28]:
# chevrolet	, ford, honda 차량의 평균 고속도로연비를 조회하시오

cvl <- mpg %>% filter(manufacturer == 'chevrolet') %>% select(hwy)
mean(cvl$hwy)

ford <- mpg %>% filter(manufacturer == 'ford') %>% select(hwy)
mean(ford$hwy)

honda <- mpg %>% filter(manufacturer == 'honda') %>% select(hwy)
mean(honda$hwy)

[1] 21.89474

[1] 19.36

[1] 32.55556

## mutate (행, 열 추가)

In [30]:
load('sungjuk.rdata')
sungjuk

  name eng mat sci
1 John 90  85  90
2 Tom  95  96  80
3 Mark 69  49  70
4 Jane 78  95  60

In [43]:
# 영어/수학/과학 점수헤 대한 총점/평균을 계산하고, tot, avg 컬럼에 저장하세요

sungjuk %>% mutate(tot = eng + mat + sci)
sungjuk %>% mutate(avg = (eng + mat + sci) / 3)
sungjuk

  name eng mat sci tot
1 John 90  85  90  265
2 Tom  95  96  80  271
3 Mark 69  49  70  188
4 Jane 78  95  60  233

  name eng mat sci tot avg
1 John 90  85  90  265 88.33333
2 Tom  95  96  80  271 90.33333
3 Mark 69  49  70  188 62.66667
4 Jane 78  95  60  233 77.66667

  name eng mat sci tot
1 John 90  85  90  265
2 Tom  95  96  80  271
3 Mark 69  49  70  188
4 Jane 78  95  60  233

In [44]:
sungjuk <- sungjuk %>% mutate(tot = eng + mat + sci)
sungjuk < -sungjuk %>% mutate(avg = tot / 3)
sungjuk

Warning message in Ops.factor(left):
“‘-’ not meaningful for factors”

ERROR: Error in Ops.data.frame(sungjuk, -sungjuk %>% mutate(avg = tot/3)): ‘<’ only defined for equally-sized data frames

In [46]:
# 간략하게 작성함
sungjuk <- sungjuk %>% mutate(tot = eng + mat + sci, avg=round(tot /3,1))
sungjuk

  name eng mat sci tot avg
1 John 90  85  90  265 88.3
2 Tom  95  96  80  271 90.3
3 Mark 69  49  70  188 62.7
4 Jane 78  95  60  233 77.7

In [51]:
# 고속도로연비와 도시연비를 합산해서 allmpg를,
# allmpg를 2로 나눠 avgmpg라는 컬럼을 생성해서
# 모델명, 제조사, allmpg, avgmpg 순으로 조회하세요

mpg %>% mutate(allmpg = cty+hwy, avgmpg = allmpg/2) %>% 
        select(model, manufacturer, allmpg, avgmpg) %>% head()

  model manufacturer allmpg avgmpg
1 a4    audi         47     23.5
2 a4    audi         50     25.0
3 a4    audi         51     25.5
4 a4    audi         51     25.5
5 a4    audi         42     21.0
6 a4    audi         44     22.0