# Spark_DSL_SQL

###### Customers, Products, Orders 데이터를 이용해서
###### spark 데이터 프레임을 만들고 ppt에 있는 질의에 대한
###### SQL 질의문과 함수를 이용한 코드를 작성하세요

In [1]:
customers = spark.read.csv('Customers.csv', header=True, inferSchema=True)

In [2]:
products = spark.read.csv('Productc.csv', header=True, inferSchema=True)

In [3]:
orders = spark.read.csv('Orders.csv', header=True, inferSchema=True)

In [4]:
customers.select('*').show()
products.select('*').show()
orders.select('*').show()

+------+------+----+------+------+-----+
|userid|  name| age| grade|   job|coins|
+------+------+----+------+------+-----+
| apple|정소화|  20|  gold|  학생| 1000|
|banana|김선우|  25|   vip|간호사| 2500|
|carrot|고명석|  28|  gold|  교사| 4500|
| melon|성원용|  35|  gold|회사원| 5000|
|orange|김용욱|  22|silver|  학생|    0|
| peach|오형준|null|silver|  의사|  300|
|  pear|채광주|  31|silver|회사원|  500|
+------+------+----+------+------+-----+

+------+----------+-----+-----+--------+
|prodid|  prodname|stock|price|   maker|
+------+----------+-----+-----+--------+
|   p01|  그냥만두| 5000| 4500|대한식품|
|   p02|  매운쫄면| 2500| 5500|민국푸드|
|   p03|  쿵떡파이| 3600| 2600|한빛제과|
|   p04|맛난초콜렛| 1250| 2500|한빛제과|
|   p05|  얼큰라면| 2200| 1200|대한식품|
|   p06|  통통우동| 1000| 1550|민국푸드|
|   p07|달콤비스켓| 1650| 1500|한빛제과|
+------+----------+-----+-----+--------+

+-------+------+------+------+---------------+-------------------+
|orderid|userid|prodid|amount|           addr|            orddate|
+-------+------+------+------+---------------+-------------------+
|    o01| apple|   p03|    10|  서울시 마포구|2013-01-01 00:00:00|
|    o02| melon|   p01|     5|  인천시 계양구|2013-01-10 00:00:00|
|    o03|banana|   p06|    45|  경기도 부천시|2013-01-11 00:00:00|
|    o04|carrot|   p02|     8|  부산시 금정구|2013-02-01 00:00:00|
|    o05| melon|   p06|    36|  경기도 용인시|2013-02-20 00:00:00|
|    o06|banana|   p01|    19|충청북도 보은군|2013-03-02 00:00:00|
|    o07| apple|   p03|    22|서울시 영등포구|2013-03-15 00:00:00|
|    o08|  pear|   p02|    50|  강원도 춘천시|2013-04-10 00:00:00|
|    o09|banana|   p04|    15|전라남도 목포시|2013-04-11 00:00:00|
|    o10|carrot|   p03|    20|  경기도 안양시|2013-05-22 00:00:00|
+-------+------+------+------+---------------+-------------------+

In [5]:
spark = SparkSession.builder.master('app').appName('sparkSQL').getOrCreate()

In [6]:
CUSTOMERS = customers.createOrReplaceTempView("CUSTOMERS")
PRODUCTS = products.createOrReplaceTempView("PRODUCTS")
ORDERS = orders.createOrReplaceTempView("ORDERS")

In [7]:
# SQL 사용을 위한 View 객체 생성
CUSTOMERS = customers.createOrReplaceTempView("CUSTOMERS")

# sql 함수를 이용해서 SQL 질의문 실행하고 결과 출력
spark.sql('select * from CUSTOMERS').show()

+------+------+----+------+------+-----+
|userid|  name| age| grade|   job|coins|
+------+------+----+------+------+-----+
| apple|정소화|  20|  gold|  학생| 1000|
|banana|김선우|  25|   vip|간호사| 2500|
|carrot|고명석|  28|  gold|  교사| 4500|
| melon|성원용|  35|  gold|회사원| 5000|
|orange|김용욱|  22|silver|  학생|    0|
| peach|오형준|null|silver|  의사|  300|
|  pear|채광주|  31|silver|회사원|  500|
+------+------+----+------+------+-----+

21/10/08 07:56:33 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

In [8]:
# SQL 사용을 위한 View 객체 생성
PRODUCTS = products.createOrReplaceTempView("PRODUCTS")

# sql 함수를 이용해서 SQL 질의문 실행하고 결과 출력
spark.sql('select * from PRODUCTS').show()

+------+----------+-----+-----+--------+
|prodid|  prodname|stock|price|   maker|
+------+----------+-----+-----+--------+
|   p01|  그냥만두| 5000| 4500|대한식품|
|   p02|  매운쫄면| 2500| 5500|민국푸드|
|   p03|  쿵떡파이| 3600| 2600|한빛제과|
|   p04|맛난초콜렛| 1250| 2500|한빛제과|
|   p05|  얼큰라면| 2200| 1200|대한식품|
|   p06|  통통우동| 1000| 1550|민국푸드|
|   p07|달콤비스켓| 1650| 1500|한빛제과|
+------+----------+-----+-----+--------+

In [9]:
# SQL 사용을 위한 View 객체 생성
ORDERS = orders.createOrReplaceTempView("ORDERS")

# sql 함수를 이용해서 SQL 질의문 실행하고 결과 출력
spark.sql('select * from ORDERS').show()

+-------+------+------+------+---------------+-------------------+
|orderid|userid|prodid|amount|           addr|            orddate|
+-------+------+------+------+---------------+-------------------+
|    o01| apple|   p03|    10|  서울시 마포구|2013-01-01 00:00:00|
|    o02| melon|   p01|     5|  인천시 계양구|2013-01-10 00:00:00|
|    o03|banana|   p06|    45|  경기도 부천시|2013-01-11 00:00:00|
|    o04|carrot|   p02|     8|  부산시 금정구|2013-02-01 00:00:00|
|    o05| melon|   p06|    36|  경기도 용인시|2013-02-20 00:00:00|
|    o06|banana|   p01|    19|충청북도 보은군|2013-03-02 00:00:00|
|    o07| apple|   p03|    22|서울시 영등포구|2013-03-15 00:00:00|
|    o08|  pear|   p02|    50|  강원도 춘천시|2013-04-10 00:00:00|
|    o09|banana|   p04|    15|전라남도 목포시|2013-04-11 00:00:00|
|    o10|carrot|   p03|    20|  경기도 안양시|2013-05-22 00:00:00|
+-------+------+------+------+---------------+-------------------+

In [10]:
# 고객테이블에서 고개아이디, 이름, 등급을 조회

customers.select('userid','name','grade').show()

+------+------+------+
|userid|  name| grade|
+------+------+------+
| apple|정소화|  gold|
|banana|김선우|   vip|
|carrot|고명석|  gold|
| melon|성원용|  gold|
|orange|김용욱|silver|
| peach|오형준|silver|
|  pear|채광주|silver|
+------+------+------+

In [11]:
# sql문 
sql = 'select userid, name, grade from CUSTOMERS'
spark.sql(sql).show()

+------+------+------+
|userid|  name| grade|
+------+------+------+
| apple|정소화|  gold|
|banana|김선우|   vip|
|carrot|고명석|  gold|
| melon|성원용|  gold|
|orange|김용욱|silver|
| peach|오형준|silver|
|  pear|채광주|silver|
+------+------+------+

In [12]:
# 고객테이블에 존재하는 모든 속성을 조회
customers.select('*').show()

+------+------+----+------+------+-----+
|userid|  name| age| grade|   job|coins|
+------+------+----+------+------+-----+
| apple|정소화|  20|  gold|  학생| 1000|
|banana|김선우|  25|   vip|간호사| 2500|
|carrot|고명석|  28|  gold|  교사| 4500|
| melon|성원용|  35|  gold|회사원| 5000|
|orange|김용욱|  22|silver|  학생|    0|
| peach|오형준|null|silver|  의사|  300|
|  pear|채광주|  31|silver|회사원|  500|
+------+------+----+------+------+-----+

In [13]:
# 제품테이블에서 중복없이 제조업체 조회

products.select('maker').distinct().show()

+--------+
|   maker|
+--------+
|한빛제과|
|대한식품|
|민국푸드|
+--------+

In [14]:
# sql 문
sql = 'select distinct maker from PRODUCTS'
spark.sql(sql).show()

+--------+
|   maker|
+--------+
|한빛제과|
|대한식품|
|민국푸드|
+--------+

In [15]:
# 제품테이블에서 제품명과 단가를 검색, 단가를 가격이라는 새이름으로 조회

products.select('prodname', products.price.alias('value')).show(5)

+----------+-----+
|  prodname|value|
+----------+-----+
|  그냥만두| 4500|
|  매운쫄면| 5500|
|  쿵떡파이| 2600|
|맛난초콜렛| 2500|
|  얼큰라면| 1200|
+----------+-----+
only showing top 5 rows

In [16]:
# sql 문
sql = "select prodname, price value from PRODUCTS"
spark.sql(sql).show()

+----------+-----+
|  prodname|value|
+----------+-----+
|  그냥만두| 4500|
|  매운쫄면| 5500|
|  쿵떡파이| 2600|
|맛난초콜렛| 2500|
|  얼큰라면| 1200|
|  통통우동| 1550|
|달콤비스켓| 1500|
+----------+-----+

In [17]:
# 제품테이블에서 단가를 조회하되, 500원 인상된 금액을 조정단가로 표기하여 출력

products.select('prodname', 'price', (products.price + 500).alias('adjprice')).show(5)

+----------+-----+--------+
|  prodname|price|adjprice|
+----------+-----+--------+
|  그냥만두| 4500|    5000|
|  매운쫄면| 5500|    6000|
|  쿵떡파이| 2600|    3100|
|맛난초콜렛| 2500|    3000|
|  얼큰라면| 1200|    1700|
+----------+-----+--------+
only showing top 5 rows

In [18]:
# sql 문
sql = "select prodname, price, (price + 500) adjprice from PRODUCTS"
spark.sql(sql).show()

+----------+-----+--------+
|  prodname|price|adjprice|
+----------+-----+--------+
|  그냥만두| 4500|    5000|
|  매운쫄면| 5500|    6000|
|  쿵떡파이| 2600|    3100|
|맛난초콜렛| 2500|    3000|
|  얼큰라면| 1200|    1700|
|  통통우동| 1550|    2050|
|달콤비스켓| 1500|    2000|
+----------+-----+--------+

In [19]:
# 한빛제과가 제조한 제품명, 재고, 가격 출력

products.filter(products.maker == '한빛제과').select('prodname', 'stock', 'price').show(5)

+----------+-----+-----+
|  prodname|stock|price|
+----------+-----+-----+
|  쿵떡파이| 3600| 2600|
|맛난초콜렛| 1250| 2500|
|달콤비스켓| 1650| 1500|
+----------+-----+-----+

In [20]:
# sql 문

sql = "select prodname, stock, price from PRODUCTS where maker = '한빛제과'"
spark.sql(sql).show()

+----------+-----+-----+
|  prodname|stock|price|
+----------+-----+-----+
|  쿵떡파이| 3600| 2600|
|맛난초콜렛| 1250| 2500|
|달콤비스켓| 1650| 1500|
+----------+-----+-----+

In [21]:
# 고객명이 apple이고, 15개이상 주문된 제품의 주문제품,수량,주문일자, 주문고객을 조회

orders.filter((orders.userid == 'apple') & (orders.amount >= 15)).select('prodid','amount','orddate').show()

+------+------+-------------------+
|prodid|amount|            orddate|
+------+------+-------------------+
|   p03|    22|2013-03-15 00:00:00|
+------+------+-------------------+

In [22]:
# sql문

sql = "select prodid, amount, orddate from ORDERS where userid == 'apple' and amount>=15"
spark.sql(sql).show()

+------+------+-------------------+
|prodid|amount|            orddate|
+------+------+-------------------+
|   p03|    22|2013-03-15 00:00:00|
+------+------+-------------------+

In [23]:
#  apple 고객이 주문했거나, 15개이상 주문된 제품의 주문제품,수량,주문일자, 주문고객을 조회

In [24]:
orders.filter((orders.userid == 'apple') | (orders.amount >= 15)).select('prodid','userid','amount','orddate').show()

+------+------+------+-------------------+
|prodid|userid|amount|            orddate|
+------+------+------+-------------------+
|   p03| apple|    10|2013-01-01 00:00:00|
|   p06|banana|    45|2013-01-11 00:00:00|
|   p06| melon|    36|2013-02-20 00:00:00|
|   p01|banana|    19|2013-03-02 00:00:00|
|   p03| apple|    22|2013-03-15 00:00:00|
|   p02|  pear|    50|2013-04-10 00:00:00|
|   p04|banana|    15|2013-04-11 00:00:00|
|   p03|carrot|    20|2013-05-22 00:00:00|
+------+------+------+-------------------+

In [25]:
# sql문

sql = "select prodid, userid, amount, orddate from ORDERS where userid == 'apple' or amount>=15"
spark.sql(sql).show()

+------+------+------+-------------------+
|prodid|userid|amount|            orddate|
+------+------+------+-------------------+
|   p03| apple|    10|2013-01-01 00:00:00|
|   p06|banana|    45|2013-01-11 00:00:00|
|   p06| melon|    36|2013-02-20 00:00:00|
|   p01|banana|    19|2013-03-02 00:00:00|
|   p03| apple|    22|2013-03-15 00:00:00|
|   p02|  pear|    50|2013-04-10 00:00:00|
|   p04|banana|    15|2013-04-11 00:00:00|
|   p03|carrot|    20|2013-05-22 00:00:00|
+------+------+------+-------------------+

In [26]:
# 제품단가가 2000원 이상이면서 3000원 이하인 제품의 이름, 단가, 제조업체 조회

products.filter((products.price >= 2000) & (products.price <= 3000)).select('prodname','price','maker').show()

+----------+-----+--------+
|  prodname|price|   maker|
+----------+-----+--------+
|  쿵떡파이| 2600|한빛제과|
|맛난초콜렛| 2500|한빛제과|
+----------+-----+--------+

In [27]:
# between 사용
products.filter(products.price.between(2000,3000)).select('prodname','price','maker').show()

+----------+-----+--------+
|  prodname|price|   maker|
+----------+-----+--------+
|  쿵떡파이| 2600|한빛제과|
|맛난초콜렛| 2500|한빛제과|
+----------+-----+--------+

In [28]:
# sql문

sql = 'select prodname, price, maker from PRODUCTS where price >= 2000 and price <= 3000'
spark.sql(sql).show()

+----------+-----+--------+
|  prodname|price|   maker|
+----------+-----+--------+
|  쿵떡파이| 2600|한빛제과|
|맛난초콜렛| 2500|한빛제과|
+----------+-----+--------+

In [29]:
# sql문 between 사용
sql = 'select prodname, price, maker from PRODUCTS where price between 2000 and 3000'
spark.sql(sql).show()

+----------+-----+--------+
|  prodname|price|   maker|
+----------+-----+--------+
|  쿵떡파이| 2600|한빛제과|
|맛난초콜렛| 2500|한빛제과|
+----------+-----+--------+

In [30]:
# 고객테이블에서 성이 김씨인 고객의 이름, 나이, 등급, 적립금 확인

customers.filter(customers.name.like('김%')).select('name','age','grade','coins').show()

+------+---+------+-----+
|  name|age| grade|coins|
+------+---+------+-----+
|김선우| 25|   vip| 2500|
|김용욱| 22|silver|    0|
+------+---+------+-----+

In [31]:
# sql 문

sql = "select name, age, grade, coins from CUSTOMERS where name like'김%'"
spark.sql(sql).show()

+------+---+------+-----+
|  name|age| grade|coins|
+------+---+------+-----+
|김선우| 25|   vip| 2500|
|김용욱| 22|silver|    0|
+------+---+------+-----+

In [32]:
# 고객테이블에서 고객아이디가 5자인 고객의 아이디, 이름, 등급 확인
customers.filter(customers.userid.like('_____')).select('userid','name','grade').show()

+------+------+------+
|userid|  name| grade|
+------+------+------+
| apple|정소화|  gold|
| melon|성원용|  gold|
| peach|오형준|silver|
+------+------+------+

In [33]:
# sql 문

sql = "select userid, name, grade from CUSTOMERS where userid like'_____'"
spark.sql(sql).show()

+------+------+------+
|userid|  name| grade|
+------+------+------+
| apple|정소화|  gold|
| melon|성원용|  gold|
| peach|오형준|silver|
+------+------+------+

In [34]:
# 고객테이블에서 나이가 입력되지않은 고객이름 검색

customers.filter(customers.age.isNull()).select('name','age').show()

+------+----+
|  name| age|
+------+----+
|오형준|null|
+------+----+

In [35]:
# sql 문
sql = 'select name, age from CUSTOMERS where age is Null'
spark.sql(sql).show()

+------+----+
|  name| age|
+------+----+
|오형준|null|
+------+----+

In [36]:
# 고객테이블에서 나이가 입력된 고객이름 검색

customers.filter(customers.age.isNotNull()).select('name','age').show()

+------+---+
|  name|age|
+------+---+
|정소화| 20|
|김선우| 25|
|고명석| 28|
|성원용| 35|
|김용욱| 22|
|채광주| 31|
+------+---+

In [37]:
# sql 문
sql = 'select name, age from CUSTOMERS where age is not Null'
spark.sql(sql).show()

+------+---+
|  name|age|
+------+---+
|정소화| 20|
|김선우| 25|
|고명석| 28|
|성원용| 35|
|김용욱| 22|
|채광주| 31|
+------+---+

In [38]:
# 고객테이블에서 이름,등급,나이를 검색하되, 나이를 기준으로 내림차순 정렬

customers.select('name','grade','age').orderBy('age', acending=False).show()

+------+------+----+
|  name| grade| age|
+------+------+----+
|오형준|silver|null|
|정소화|  gold|  20|
|김용욱|silver|  22|
|김선우|   vip|  25|
|고명석|  gold|  28|
|채광주|silver|  31|
|성원용|  gold|  35|
+------+------+----+

In [39]:
# sql 문

sql = 'select name, grade, age from CUSTOMERS order by age desc'
spark.sql(sql).show()

+------+------+----+
|  name| grade| age|
+------+------+----+
|성원용|  gold|  35|
|채광주|silver|  31|
|고명석|  gold|  28|
|김선우|   vip|  25|
|김용욱|silver|  22|
|정소화|  gold|  20|
|오형준|silver|null|
+------+------+----+

In [40]:
# 주문 수량이 10개 이상인 주문의 고객,제품,수량,주문일자를 검색, 제품=오름차순, 동일제품은 수량기준으로 내림차순

orders.select('userid','prodid', 'amount','orddate').orderBy('prodid').orderBy('amount', ascending=False).show()

+------+------+------+-------------------+
|userid|prodid|amount|            orddate|
+------+------+------+-------------------+
|  pear|   p02|    50|2013-04-10 00:00:00|
|banana|   p06|    45|2013-01-11 00:00:00|
| melon|   p06|    36|2013-02-20 00:00:00|
| apple|   p03|    22|2013-03-15 00:00:00|
|carrot|   p03|    20|2013-05-22 00:00:00|
|banana|   p01|    19|2013-03-02 00:00:00|
|banana|   p04|    15|2013-04-11 00:00:00|
| apple|   p03|    10|2013-01-01 00:00:00|
|carrot|   p02|     8|2013-02-01 00:00:00|
| melon|   p01|     5|2013-01-10 00:00:00|
+------+------+------+-------------------+

In [41]:
# sql 문

sql = 'select userid, prodid, amount, orddate from ORDERS order by prodid, amount desc'
spark.sql(sql).show()

+------+------+------+-------------------+
|userid|prodid|amount|            orddate|
+------+------+------+-------------------+
|banana|   p01|    19|2013-03-02 00:00:00|
| melon|   p01|     5|2013-01-10 00:00:00|
|  pear|   p02|    50|2013-04-10 00:00:00|
|carrot|   p02|     8|2013-02-01 00:00:00|
| apple|   p03|    22|2013-03-15 00:00:00|
|carrot|   p03|    20|2013-05-22 00:00:00|
| apple|   p03|    10|2013-01-01 00:00:00|
|banana|   p04|    15|2013-04-11 00:00:00|
|banana|   p06|    45|2013-01-11 00:00:00|
| melon|   p06|    36|2013-02-20 00:00:00|
+------+------+------+-------------------+

In [42]:
from pyspark.sql.functions import avg
from pyspark.sql.functions import round
from pyspark.sql.functions import sum
from pyspark.sql.functions import max

In [43]:
# 제품테이블에서 모든 제품의 단가 평균 출력

products.select(round(avg(products.price),2).alias('avg price' ) ).show()

+---------+
|avg price|
+---------+
|  2764.29|
+---------+

In [44]:
# sql 문
sql = 'select round(avg(price),2) avgprice from PRODUCTS'
spark.sql(sql).show()

+--------+
|avgprice|
+--------+
| 2764.29|
+--------+

In [45]:
# 한빛제과 제품의 제고량 합계
products.filter(products.maker == '한빛제과').select(sum(products.stock)).show()

+----------+
|sum(stock)|
+----------+
|      6500|
+----------+

In [46]:
# sql 문
sql = """ select sum(stock) from PRODUCTS
        where maker = '한빛제과' """
spark.sql(sql).show()

+----------+
|sum(stock)|
+----------+
|      6500|
+----------+

In [47]:
from pyspark.sql.functions import count, col

In [48]:
# 고객테이블에 고객이 몇명 등록되어 있는지
customers.select(count(col('name'))).show()

+-----------+
|count(name)|
+-----------+
|          7|
+-----------+

In [49]:
# sql 문
sql = customers.select(count(customers.name)).show()

+-----------+
|count(name)|
+-----------+
|          7|
+-----------+

In [50]:
from pyspark.sql.functions import countDistinct
from pyspark.sql.functions import substring

In [51]:
# 제조업체 수 검색

products.select(countDistinct('maker').alias('cnt')).count()

1

In [52]:
# sql 문
sql = 'select count(Distinct maker) cnt from PRODUCTS'
spark.sql(sql).show()

[Stage 76:==================================================>   (188 + 1) / 200]

+---+
|cnt|
+---+
|  3|
+---+

In [53]:
# 주문 제품별 합계
orders.groupBy('prodid').agg(sum('amount')).orderBy('prodid').show()

[Stage 79:=============================================>        (167 + 1) / 200]

+------+-----------+
|prodid|sum(amount)|
+------+-----------+
|   p01|         24|
|   p02|         58|
|   p03|         52|
|   p04|         15|
|   p06|         81|
+------+-----------+

In [54]:
# sql 문
sql = 'select sum(amount) cnt from ORDERS group by prodid order by prodid'
spark.sql(sql).show()

[Stage 81:=========================================>            (153 + 1) / 200]

+---+
|cnt|
+---+
| 24|
| 58|
| 52|
| 15|
| 81|
+---+

In [55]:
# 제조업체별 제조한 제품의 개수와, 가장비싼단가 검색,  제품개수와 비싼단가 이름변경

products.groupBy('maker').agg(count('prodid').alias('cnt'), (max('price')).alias('maxprice')).show()

+--------+---+--------+
|   maker|cnt|maxprice|
+--------+---+--------+
|한빛제과|  3|    2600|
|대한식품|  2|    4500|
|민국푸드|  2|    5500|
+--------+---+--------+

In [56]:
products.groupBy('maker').agg(count('prodid').alias('cnt'), (max('price')).alias('maxprice')).filter(col('cnt') >= 3).show()

+--------+---+--------+
|   maker|cnt|maxprice|
+--------+---+--------+
|한빛제과|  3|    2600|
+--------+---+--------+

In [57]:
# sql 문

sql = 'select maker, count(prodid) cnt, max(price) maxprice from PRODUCTS group by maker'
spark.sql(sql).show()

+--------+---+--------+
|   maker|cnt|maxprice|
+--------+---+--------+
|한빛제과|  3|    2600|
|대한식품|  2|    4500|
|민국푸드|  2|    5500|
+--------+---+--------+

In [58]:
sql = 'select maker, count(prodid) cnt, max(price) maxprice from PRODUCTS group by maker having cnt >= 3'
spark.sql(sql).show()

+--------+---+--------+
|   maker|cnt|maxprice|
+--------+---+--------+
|한빛제과|  3|    2600|
+--------+---+--------+

In [59]:
# 적립금 평균이 1,000원 이상 등급에대해 등급별 고객수와, 적립금 평균을 검색
customers.groupBy('grade').agg(count('userid').alias('cnt'), avg('coins').alias('avgcoins')).filter(col('avgcoins')>=1000).show()

+-----+---+--------+
|grade|cnt|avgcoins|
+-----+---+--------+
| gold|  3|  3500.0|
|  vip|  1|  2500.0|
+-----+---+--------+

In [60]:
# sql문

sql = 'select grade, count(userid) cnt, round(avg(coins),1) avgcoin from CUSTOMERS group by grade having avgcoin >= 1000'
spark.sql(sql).show()

+-----+---+-------+
|grade|cnt|avgcoin|
+-----+---+-------+
| gold|  3| 3500.0|
|  vip|  1| 2500.0|
+-----+---+-------+

In [61]:
# 각 주문고객이 주문한 제품의 총 주문수량을 제품별로 검색

prodOrder = products.join(orders, 'prodid', 'inner')
prodOrder.show()

+------+----------+-----+-----+--------+-------+------+------+---------------+-------------------+
|prodid|  prodname|stock|price|   maker|orderid|userid|amount|           addr|            orddate|
+------+----------+-----+-----+--------+-------+------+------+---------------+-------------------+
|   p03|  쿵떡파이| 3600| 2600|한빛제과|    o01| apple|    10|  서울시 마포구|2013-01-01 00:00:00|
|   p01|  그냥만두| 5000| 4500|대한식품|    o02| melon|     5|  인천시 계양구|2013-01-10 00:00:00|
|   p06|  통통우동| 1000| 1550|민국푸드|    o03|banana|    45|  경기도 부천시|2013-01-11 00:00:00|
|   p02|  매운쫄면| 2500| 5500|민국푸드|    o04|carrot|     8|  부산시 금정구|2013-02-01 00:00:00|
|   p06|  통통우동| 1000| 1550|민국푸드|    o05| melon|    36|  경기도 용인시|2013-02-20 00:00:00|
|   p01|  그냥만두| 5000| 4500|대한식품|    o06|banana|    19|충청북도 보은군|2013-03-02 00:00:00|
|   p03|  쿵떡파이| 3600| 2600|한빛제과|    o07| apple|    22|서울시 영등포구|2013-03-15 00:00:00|
|   p02|  매운쫄면| 2500| 5500|민국푸드|    o08|  pear|    50|  강원도 춘천시|2013-04-10 00:00:00|
|   p04|맛난초콜렛| 1250| 2500|한빛제과|    o09|banana|    15|전라남도 목포시|2013-04-11 00:00:00|
|   p03|  쿵떡파이| 3600| 2600|한빛제과|    o10|carrot|    20|  경기도 안양시|2013-05-22 00:00:00|
+------+----------+-----+-----+--------+-------+------+------+---------------+-------------------+

In [62]:
custOrder = customers.join(orders, 'userid', 'inner')

In [63]:
# 바나나 고객이 주문한 제품의 이름 조회

#prodOrder = ORDERS.join(products, 'prodid', 'inner')
# prodOrder.show(5)

prodOrder.filter(prodOrder.userid == 'banana').select('userid','prodname','prodid').show()

+------+----------+------+
|userid|  prodname|prodid|
+------+----------+------+
|banana|  통통우동|   p06|
|banana|  그냥만두|   p01|
|banana|맛난초콜렛|   p04|
+------+----------+------+

In [64]:
# 바나나 고객이 주문한 제품의 이름 조회 답안

prodOrder.filter(col('userid') == 'banana').select('userid','prodname','prodid').show()

+------+----------+------+
|userid|  prodname|prodid|
+------+----------+------+
|banana|  통통우동|   p06|
|banana|  그냥만두|   p01|
|banana|맛난초콜렛|   p04|
+------+----------+------+

In [65]:
# sql 문

sql = "select userid, prodname from PRODUCTS p inner join ORDERS o using(prodid)  where userid = 'banana'"
spark.sql(sql).show()

+------+----------+
|userid|  prodname|
+------+----------+
|banana|  통통우동|
|banana|  그냥만두|
|banana|맛난초콜렛|
+------+----------+

In [66]:
prodOrder1 = orders.join(products, 'prodid', 'inner')
prodOrder1.show(5)

+------+-------+------+------+-------------+-------------------+--------+-----+-----+--------+
|prodid|orderid|userid|amount|         addr|            orddate|prodname|stock|price|   maker|
+------+-------+------+------+-------------+-------------------+--------+-----+-----+--------+
|   p03|    o01| apple|    10|서울시 마포구|2013-01-01 00:00:00|쿵떡파이| 3600| 2600|한빛제과|
|   p01|    o02| melon|     5|인천시 계양구|2013-01-10 00:00:00|그냥만두| 5000| 4500|대한식품|
|   p06|    o03|banana|    45|경기도 부천시|2013-01-11 00:00:00|통통우동| 1000| 1550|민국푸드|
|   p02|    o04|carrot|     8|부산시 금정구|2013-02-01 00:00:00|매운쫄면| 2500| 5500|민국푸드|
|   p06|    o05| melon|    36|경기도 용인시|2013-02-20 00:00:00|통통우동| 1000| 1550|민국푸드|
+------+-------+------+------+-------------+-------------------+--------+-----+-----+--------+
only showing top 5 rows

In [67]:
# 판매 데이터 베이스에서 나이가 30이상인 고객이 주문한 제품과, 주문일자 조회
prodOrder2 = prodOrder1.join(customers, 'userid', 'inner')
prodOrder2.show()

+------+------+-------+------+---------------+-------------------+----------+-----+-----+--------+------+---+------+------+-----+
|userid|prodid|orderid|amount|           addr|            orddate|  prodname|stock|price|   maker|  name|age| grade|   job|coins|
+------+------+-------+------+---------------+-------------------+----------+-----+-----+--------+------+---+------+------+-----+
| apple|   p03|    o01|    10|  서울시 마포구|2013-01-01 00:00:00|  쿵떡파이| 3600| 2600|한빛제과|정소화| 20|  gold|  학생| 1000|
| melon|   p01|    o02|     5|  인천시 계양구|2013-01-10 00:00:00|  그냥만두| 5000| 4500|대한식품|성원용| 35|  gold|회사원| 5000|
|banana|   p06|    o03|    45|  경기도 부천시|2013-01-11 00:00:00|  통통우동| 1000| 1550|민국푸드|김선우| 25|   vip|간호사| 2500|
|carrot|   p02|    o04|     8|  부산시 금정구|2013-02-01 00:00:00|  매운쫄면| 2500| 5500|민국푸드|고명석| 28|  gold|  교사| 4500|
| melon|   p06|    o05|    36|  경기도 용인시|2013-02-20 00:00:00|  통통우동| 1000| 1550|민국푸드|성원용| 35|  gold|회사원| 5000|
|banana|   p01|    o06|    19|충청북도 보은군|2013-03-02 00:00:00|  그냥만두| 5000| 4500|대한식품|김선우| 25|   vip|간호사| 2500|
| apple|   p03|    o07|    22|서울시 영등포구|2013-03-15 00:00:00|  쿵떡파이| 3600| 2600|한빛제과|정소화| 20|  gold|  학생| 1000|
|  pear|   p02|    o08|    50|  강원도 춘천시|2013-04-10 00:00:00|  매운쫄면| 2500| 5500|민국푸드|채광주| 31|silver|회사원|  500|
|banana|   p04|    o09|    15|전라남도 목포시|2013-04-11 00:00:00|맛난초콜렛| 1250| 2500|한빛제과|김선우| 25|   vip|간호사| 2500|
|carrot|   p03|    o10|    20|  경기도 안양시|2013-05-22 00:00:00|  쿵떡파이| 3600| 2600|한빛제과|고명석| 28|  gold|  교사| 4500|
+------+------+-------+------+---------------+-------------------+----------+-----+-----+--------+------+---+------+------+-----+

In [68]:
# 판매 데이터 베이스에서 나이가 30이상인 고객이 주문한 제품과, 주문일자 조회
prodOrder2.filter(prodOrder2.age >= 30).select('userid','age','prodname','orddate').show()

+------+---+--------+-------------------+
|userid|age|prodname|            orddate|
+------+---+--------+-------------------+
| melon| 35|그냥만두|2013-01-10 00:00:00|
| melon| 35|통통우동|2013-02-20 00:00:00|
|  pear| 31|매운쫄면|2013-04-10 00:00:00|
+------+---+--------+-------------------+

In [69]:
# 판매 데이터 베이스에서 나이가 30이상인 고객이 주문한 제품과, 주문일자 조회
prodOrder2.filter(prodOrder2.age >= 30).select('userid','age','prodname',substring('orddate',0,10).alias('odate')).show()

+------+---+--------+----------+
|userid|age|prodname|     odate|
+------+---+--------+----------+
| melon| 35|그냥만두|2013-01-10|
| melon| 35|통통우동|2013-02-20|
|  pear| 31|매운쫄면|2013-04-10|
+------+---+--------+----------+

In [70]:
# sql 문
sql = 'select userid, age, prodid, orddate from CUSTOMERS c inner join ORDERS o using(userid) where age >= 30 '
spark.sql(sql).show()

+------+---+------+-------------------+
|userid|age|prodid|            orddate|
+------+---+------+-------------------+
| melon| 35|   p01|2013-01-10 00:00:00|
| melon| 35|   p06|2013-02-20 00:00:00|
|  pear| 31|   p02|2013-04-10 00:00:00|
+------+---+------+-------------------+

In [71]:
# sql 문
sql = 'select userid, age, prodid, substr(orddate,0,10) odate from CUSTOMERS c inner join ORDERS o using(userid) where age >= 30 '
spark.sql(sql).show()

+------+---+------+----------+
|userid|age|prodid|     odate|
+------+---+------+----------+
| melon| 35|   p01|2013-01-10|
| melon| 35|   p06|2013-02-20|
|  pear| 31|   p02|2013-04-10|
+------+---+------+----------+

In [74]:
PRODORDER = prodOrder.createOrReplaceTempView('PRODORDER')

CUSTORDER = custOrder.createOrReplaceTempView('CUSTORDER')

CUSTORDERPROD = custOrderProd.createOrReplaceTempView('CUSTORDERPROD')

In [75]:
# 바나나
sql = "select userid, prodname from PRODORDER where userid = 'banana'"
spark.sql(sql).show()

+------+----------+
|userid|  prodname|
+------+----------+
|banana|  통통우동|
|banana|  그냥만두|
|banana|맛난초콜렛|
+------+----------+

In [76]:
# 30살 이상
sql = 'select userid, age, prodid, substr(orddate,0,10) odate from CUSTORDER where age >= 30 '
spark.sql(sql).show()

+------+---+------+----------+
|userid|age|prodid|     odate|
+------+---+------+----------+
| melon| 35|   p01|2013-01-10|
| melon| 35|   p06|2013-02-20|
|  pear| 31|   p02|2013-04-10|
+------+---+------+----------+

In [73]:
# 고명석 고객이 주문한 제품명
custOrderProd = custOrder.join(products, 'prodid','inner')
custOrderProd.filter(col('name') == '고명석').select('name','prodname').show()

+------+--------+
|  name|prodname|
+------+--------+
|고명석|매운쫄면|
|고명석|쿵떡파이|
+------+--------+

In [77]:
# sql

sql = "select name,prodname from CUSTORDERPROD where name = '고명석'"
spark.sql(sql).show()

+------+--------+
|  name|prodname|
+------+--------+
|고명석|매운쫄면|
|고명석|쿵떡파이|
+------+--------+

In [78]:
# 달콤비스킷을 생산한 제조업체가 만든 제품들의 제품명과 단가 검색

sql = "select prodname, price FROM PRODUCTS where maker = (SELECT maker FROM PRODUCTS where prodname = '달콤비스켓')"

spark.sql(sql).show()

+----------+-----+
|  prodname|price|
+----------+-----+
|  쿵떡파이| 2600|
|맛난초콜렛| 2500|
|달콤비스켓| 1500|
+----------+-----+

In [79]:
# 적립금이 가장많은 고객의 이름과 적립금

sql = "SELECT name, coins from CUSTOMERS where coins = (select max(coins) from Customers)";

spark.sql(sql).show()

+------+-----+
|  name|coins|
+------+-----+
|성원용| 5000|
+------+-----+